[2015-02-25 05:12] conv317 opened #17 "Unable to MVN Install version 1.5.4"
Hi,

There seems to be a issue with using Maven on the latest release 1.5.4 to compile the aar.
Version 1.5.3 works using the same method without any issues.

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-install-plugin:2.4:install-file (defau
lt-cli) on project standalone-pom: The specified file 'C:\Users\covafeas\Documents\Development\sdks\
android-here-sdk-dist-master1.5.4\andro

[2015-02-25 15:57] ppmtscory commented on #17
@conv317 Can you please double-check your file path to the .aar file?  I was able to reproduce the error only when I input the incorrect file path or .aar file name.  Otherwise, it compiles just fine for me.

[2015-03-19 19:12] #17 closed

[2015-05-18 15:01] claustx opened #24 "Unable to build sample app"
Using Android Studio to build the sample app, the build failed at:
dependencies {
        compile  ('com.paypal.merchant.sdk:paypal-sdk:1.5.4@aar')
    }

I am unable to find the paypal-sdk.1.5.4.aar in maven repositories. Where can I find this file?

[2015-05-19 22:08] claustx commented on #24
The following workaround worked for me:
1. Modify the android build script to include a file repository.
2. Modify the "compile" to reference the aar file shipped with the distribution.

Here're the gradle scriptlet after changes:
repositories {
        mavenCentral()
        mavenLocal()
        flatDir {
            dirs 'file:/C:/dev/android-here-sdk-dist-master/sdk'
        }
    }

    depend

[2015-05-19 22:08] #24 closed

[2015-05-19 22:18] claustx commented on #24
Note: the right solution is to use the build steps in http://paypal-mobile.github.io/android-here-sdk-dist/sample_apps.html.

[2015-07-09 19:23] VictorDL opened #28 "Can't Login into Sample App"
I have built the SampleApp in Android Studio but I can't login using any credentials. I have used the teashop userid and password, my Sandbox Account, and my Live ID. Each time I get a login failed. With this output in the logcat and I have not touched the code yet.

07-09 14:13:52.593    5022-6600/com.paypal.sampleapp D/PayPalHere.OAuthLoginScreen﹕ Login Response: {"ticket":null}
07-09 14:13:52.5

[2015-07-09 19:36] ppmtscory commented on #28
Thank you for the screen shots.  It's strange that the 'teashop' username doesn't work here.  Either way, I created a user for you so you should be able to login on this page with 'victordl' (same user as your Github ID).  The password is the same as what I previously provided you for the 'teashop' user.  Once you login with that username/password, then you should be prompted to login with your sa

[2015-07-09 20:32] VictorDL commented on #28
Thank You for your help I'm in!

[2015-07-10 13:31] ppmtscory commented on #28
No problem.  I'll close this issue out but feel free to open another issue if you have any further problems.

[2015-07-10 13:31] #28 closed

[2015-08-05 13:27] valdvir opened #29 "DexIndexOverflowException"
When compiling with the AAR file, we get *lots* of warning these style:
[code]

And at the end of the compilation process the following error:
[code]

Basically, it doesn't compile.

[2015-08-17 15:54] lernerb commented on #29
Hey @valdvir, does your app extend either `Application` or `MultiDexApplication` in your class referenced from `AndroidManifest.xml`?

It looks like your application has too many methods. You can only use up to 65536 methods in an application that doesn't use the MultiDexApplication API.

Take a look at this to resolve your issue: https://developer.android.com/tools/building/multidex.html

I'll ta

[2015-08-31 09:55] valdvir commented on #29
`MultiDexApplication` solved it. Thanks!

[2015-08-31 09:55] #29 closed

[2015-08-31 09:57] valdvir opened #30 "Samples in the Android docs are ObjectiveC!"
"Activating a card reader"

[code]

We need Android sample code, or Android documentation. This happens in the PDF, in the online docs, and even in the README of this very repository.

There's no way to guess how the heck one should "active" a reader.

[2015-08-31 12:58] lernerb commented on #30
Hi @valdvir,

Ignoring the PDF -- Can you point us to the relevant code @ https://developer.paypal.com/docs/integration/paypal-here/android-dev/overview/ where you found this mistake?

We recently overhauled the developer documents and they should now be up to date with no objective c in the Android documents.

Thanks,
Brandon

[2015-08-31 15:12] danielgindi commented on #30
This exists in the PDF under the "Activating a card reader" section, as @valdvir said.
It is very confusing. We have also not found any way to "activate" the reader and retrieve card data from it.

[2015-08-31 15:37] lernerb commented on #30
The latest documentation for the CardReaderManager on android can be found [here] (http://paypal-mobile.github.io/android-here-sdk-dist/javadoc/com/paypal/merchant/sdk/CardReaderManager.html)

To get the card reader manager on android call `PayPalHereSDK.getCardReaderManager()`

Are you trying to use the SDK's UI or are you trying to handle the events yourself?
Are you using a bluetooth/audio devi

[2015-08-31 16:50] danielgindi commented on #30
We are trying to just access the reader, on the audio jack, and get the event of the "swipe" of the card, along with details that we can fill in the transaction.

[2015-08-31 17:18] harishyarlagaddas commented on #30
@danielgindi @valdvir i Sorry for the confusion in documentation. We will correct the documentation soon.

To answer you question, You don't need to call activate reader api in Android SDK in order to get the swipe event. There are two ways to get the swipe event,

1. If you are using TransactionManager APIs to take payment then the sequence will be
    (a). call one of the beginPayment() api.

[2015-10-13 23:18] hamidsani opened #35 "Issue with building with SDK"
I followed these instructions https://goo.gl/OxefWe but I'm having trouble building the sample app. It gives me the following errors.

:processDebugResources
warning: string 'sdk_dlg_title_card_swipe' has no default translation.
C:\Users\HaMiD\Downloads\Source\build\intermediates\exploded-aar\com.android.support\appcompat-v7\21.0.2\res\values-sw600dp\values.xml
Error:(2) Resource entry abc_action_

[2015-10-14 04:57] hamidsani commented on #35
Seems like the new SDK 1.6.1 doesn't have this problem anymore.

Thanks guys

[2015-10-14 04:57] #35 closed

[2015-11-10 14:17] ryazmin opened #36 "Google Play Services incompatibility"
Fatal Exception: java.lang.IncompatibleClassChangeError: The method 'boolean com.google.android.gms.common.api.GoogleApiClient.isConnected()' was expected to be of type interface but instead was found to be of type virtual (declaration of 'java.lang.reflect.ArtMethod' appears in /system/framework/core-libart.jar)
       at com.paypal.merchant.sdk.internal.service.GooglePlayLocationServiceImpl.star

[2015-11-10 14:17] ryazmin commented on #36
https://www.reddit.com/r/androiddev/comments/3mehbb/breaking_changes_in_google_play_services_81/

[2015-11-10 14:37] lernerb commented on #36
Hi Roman,

Can you let us know some debug information to fix this issue.

* What version of PayPal Here are you using from the play store?
* What phone are you running this on?

Thanks for the stack trace and bringing up this issue!

[2015-11-10 14:53] ryazmin commented on #36
Using PayPalHereSDK-1.6.1-release
and the app is using  play-services-location version 8.1.0

The article from the reddit completely describes the issue.
Looks like PayPalHereSDK-1.6.1 is compiled agains pre-8.1.0 version of Google Play Services,
so if the app uses 8.1.0 or higher version then the crash happens.

Here is from release notes for 8.1
GoogleApiClient, PendingResult, and OptionalPendin

[2015-11-10 14:56] lernerb commented on #36
Got it, thanks. Will bring this up to the team w/ the docs for a fix.

[2015-11-21 03:19] hamidsani commented on #36
I also ran into this issue and was hoping for a solution. Good to know that you guys are working on it.

[2015-11-28 07:42] hamidsani opened #37 "payment failure"
I've built a kiosk app that uses paypal here sdk and I've used the sample app as a reference. I have everything working and the work flow of my app is, an initial activity for sdk initalization, followed by the main activity with a paypal listener for successful card swipes. This works well. However, if the app is running for multiple hours then when I swipe the card it consistently results in pay

[2015-11-30 20:07] ppmtscory commented on #37
The access token is valid for only 8 hours.  You can either do your own timing and generate a new access token prior to expiry or the SDK has functionality built in to notify you of an expired token.  This way you can be notified of an expired token prior to you receiving an authentication error from a service call.  You need to implement the [AuthenticationListerner](http://paypal-mobile.github.i

[2015-11-30 20:07] #37 closed

[2015-11-30 20:09] hamidsani commented on #37
Great. Thank you very much. That makes sense and answered my questions

[2015-12-03 10:50] hamidsani commented on #37
A quick questions. The easiest and fastest way of generating a new access token access today is to re-initialize the SDK, correct? Wondering if there are any other tricks to make it more transparent. My current setup is using two activities, one with paypal login and the other with the main activity and fragments. I can start the login activity once the token is expired by it often takes a few sec

[2015-12-03 22:29] abhirav opened #38 "Paypal Here Merchant Account"
Few months back when I was integrating Paypal Here SDK (Android) I was required to use US merchant account. I am in Australia. Do Paypal Here SDK now support Australian Merchant Account?

[2015-12-03 22:34] developersteve commented on #38
@abhirav yep we have supported Australian merch accounts using the SDK for while, just sign up at https://apply.paypal-apac.com/here/au/Step1A.aspx and you'll go through the approval process.

Let me know if you have any issues

[2015-12-04 01:06] hamidsani commented on #37
Looks like I overlooked. The way to do is clearly explain on the paypal here [getting-started] (https://developer.paypal.com/docs/integration/paypal-here/android-dev/getting-started/) page. Just posting this in case someone else was interested.

[2015-12-16 17:21] #38 closed

[2015-12-16 18:24] josefernand opened #40 "CardReaderManager getAvailableReaders always 0"
Hi I'm trying to implement the credit card payment using the magnetic card reader, but I'm getting always 0 as result of the `getAvailableReader` with the reader connected on my device.
In my app, I have setup succesfully the PayPalHereSDK object using `setCredentials`. Then when I try to setup the listeners of the PayPal Here device connection nothing happens. I have the card reader plugged in, `

[2015-12-23 18:14] josefernand commented on #40
Any update on this?
I'm concerned because even the sample app doesn't work in my devices. The sample apk does not recognize the magnetic card reader.
Does my sandbox account should have some specific setting to run the sample?
Thanks.

[2015-12-23 18:23] ppmtscory commented on #40
Even though it says "Please plug-in audio jack reader", will it still read a swipe?  Also, yes, your sandbox account that's being used as the merchant (receiving funds) needs to be a Business account that has PayPal Here enabled.

[2016-01-04 15:59] ppmtscory commented on #40
Closing due to inactivity.  If you're still unable to run the sample after getting your sandbox account set up accordingly, please feel free to re-open or open a separate issue.

[2016-01-04 15:59] #40 closed

[2016-01-05 09:31] hamidsani opened #41 "EMV screen"
I'm developing a kiosk app where the EMV will be attached to the side of the kiosk and unattented so the customer could just walk up, order, and pay. The issue that I'm having is that the EMV screen stays on and the only way I could reset it is through disconnecting from the EMV and reconnect it later. Is there anywhere around this issue? Any method that I could tell the EMV that the order is done

[2016-01-05 09:47] hamidsani opened #42 "Refresh token"
I noticed that the sample app demonstrate how to get an access token (last for 8 hours). I was wondering if the SDK is capable of retrieving a refresh token (never expires) instead and if so then any guidance would be high appreciated. The app I am making really needs me to login once every while necessary and I would like to set the token so it never expires and works. Thanks

[2016-01-05 16:05] ppmtscory commented on #42
@hamidsani the access token is what's needed to utilize the SDK functionality - the refresh token wouldn't work.  The refresh of an access token can be handled in the SDK by implementing the [Authentication Listener](http://paypal-mobile.github.io/android-here-sdk-dist/javadoc/index.html).  When `onInvalidToken()` is called, you would have your app reach out to your cloud server to generate the ne

[2016-01-05 16:05] #42 closed

[2016-01-05 16:23] djMax commented on #42
Generally you shouldn't put the refresh token on the device - it's not safe. See this for a long discussion of why: https://github.com/paypal/paypal-retail-node . But, as Cory says, you just need to provide a server (can stick it on heroku for free) that will refresh the token on behalf of the device. The SDK will automatically take care of asking your server for it when it needs it.

[2016-01-05 16:24] djMax commented on #41
You should be able to disconnect from the reader and it will go to sleep something like 60 seconds later. But, you would then need to press a button on it to wake it back up again. If the device is attached, will it be powered? If so then not sure you need to bother putting it to sleep.

[2016-01-05 19:14] hamidsani commented on #42
Okay, great. I've give that a try. I tried to grab a new access token every 7 hours in the past but I ran into a few issues doing so and never got it to run properly. I guess I'll take another good look at it again. Is there any where with an example that implement this?

[2016-01-05 19:17] hamidsani commented on #41
huh... I guess I could disconnect and reconnect it quickly before it time outs. And yeah, the EMV would be plugged into power. This sounds a bit strange but I had the card reader fully integrated in my app and it worked for two months but suddenly starting a week ago pretty much all three different card readers that I have don't read any card swipe. Even the paypal here app recognized the readers

[2016-01-05 19:18] hamidsani commented on #41
I'll let you know if disconnecting and reconnecting back to the EMV reader quickly does the trick. Thanks for the tip.

[2016-01-09 06:16] hamidsani commented on #41
Yeah, I was able to disconnect from the EMV reader and reconnect quickly to refresh the screen. I also bought a right angle usb connector to keep the EMV reader fully charge. The usb location makes it really awkward to have it charging and people to swipe the card.

[2016-01-09 06:16] #41 closed

[2016-01-15 15:56] #30 closed

[2016-01-29 13:52] pjojeda opened #45 "Problem communicating with the paypal servers"
I'm getting this error on the screen checking this device, I'm using a sony xperia ZL with android 4.4.4, and I tested it in a nexus 7 with the same version of android as well.

![screenshot_2016-01-29-10-17-59](https://cloud.githubusercontent.com/assets/4325248/12676840/c7db888a-c673-11e5-9663-ea2f5950963d.png)

the log shows this error

E/paypal.sdk: request failed with server response:null
E/pa

[2016-01-29 17:22] ppmtscory commented on #45
@pjojeda first things first, you are using the PayPal mSDK and not the PPH SDK.  Therefore, while I will attempt to answer your questions, if you have further issues, you'll need to report them [here](https://github.com/paypal/PayPal-Android-SDK/issues).

To answer your question, this very well could have something to do with the latest updates to Sandbox to support only TLSv1.2.  More information

[2016-01-29 17:22] #45 closed

[2016-01-29 19:27] pjojeda opened #48 "getting error after setCredentials"
I'm trying to connect to the card reader using a sony Xperia ZL with android 4.4.1, after to call to PayPalHereSDK.setCredentials I'm getting an error into the callback onError(PPError<MerchantManager.MerchantErrors> merchantErrorsPPError)

The details of the error are:
Detail description: We were unable to process the Http Request
Error code: ordinal 15, name Unknown
The other values are null.

I

[2016-03-09 12:41] rakesh-ideal opened #49 "Mobile Credit Card Reader/Swiper not detecting in android phone."
Just install "HereSDKSampleApp.apk" file (provided with android-here-sdk-dist-master)
Tried in Sandbox mode and get Login successfully,
Shows three options to make Payment,
Chose "PAYMENT USING AUDIO JACK READER",
Always showing "Please plug-in audio jack reader" message,
I have connected Audio Jack Reader with phone.
 Device specification:
 Samsung J5
 Android v 5.1.1

[2016-03-09 17:01] ppmtscory commented on #49
Even though it still shows the plug in message, does it recognize a swiped card?

[2016-03-13 14:22] JamesRoche opened #50 "Hard Crash after pin entry"
I am having a hard crash after the customer enters the PIN number for a payment. Looks like an issue reading the address somewhere in the SDK?

FATAL EXCEPTION: main
                                                                                           Process: chargeithere.chargeitheredroidpointofsale, PID: 24323

[2016-03-14 06:40] rakesh-ideal commented on #49
No, its not recognizing a swiped card,  still showing message.

[2016-03-14 16:06] ppmtscory commented on #49
Ah, my apologies for not reading the issue thoroughly before, but if your account isn't set up for PayPal Here, then the SDK won't be able to initialize the merchant and therefore won't continue to detect the reader.  When creating a sandbox account, if you create a US Business account with the first name of Ryan, then you should be able to get it signed up for PayPal Here and then use it within t

[2016-03-14 16:11] ppmtscory commented on #50
Yes, it seems that your merchant isn't being initialized correctly.  This could be to a lack of scopes being used in the onboarding which would, in turn, not allow the SDK to properly set up the merchant with all of the correct information.  Can you validate that you are using all of the required scopes, during the onboarding flow, that are outlined on page 17 of the onboarding guide that's includ

[2016-03-14 16:39] JamesRoche commented on #50
Thanks for getting back to me, i believe you are correct. However when i try the scope you suggest i get an invalid scope error.

My url is this
https://www.paypal.com/webapps/auth/protocol/openidconnect/v1/authorize?response_type=code&client_id=XXXX&scope=openid+https%3a%2f%2furi.paypal.com%2fservices%2fpaypalhere+email+address+https%3a%2f%2furi.paypal.com%2fservices%2fpaypalattributes%2fbusiness

[2016-03-14 17:18] ppmtscory commented on #50
When that happens, you most likely don't have something checked off in your REST App that's created/lives on developer.paypal.com.  When you view that App, ensure that you have PayPal Here enabled as well as all of the relevant fields underneath the Address Info section of the Login With PayPal section.  You can simply check them all if you like, otherwise you'll have to make sure that you have al

[2016-03-14 17:20] JamesRoche commented on #50
Yes this seems to be the exact problem. Much appreciated. It might be helpful to have some bits about that in your read me. I down think there are huge numbers of customer using this yet as i didn't find anything on Stack Overflow and any hand holding might help others. Again i really appreciate your speedy response on this matter.

[2016-03-14 17:23] ppmtscory commented on #50
Hmm... I'd thought I'd added this into the guide previously but perhaps I'm mistaken.  Either way I'll double check and either add something or make it easier to find.  Thanks for the feedback.

[2016-03-14 17:23] #50 closed

[2016-03-14 17:53] ppmtscory commented on #48
Are you trying in the Sandbox or the Live environment?

[2016-03-16 09:43] JamesRoche opened #51 "Stopping the receipt dialogue from appearing."
Hi,

I am having trouble locating an API to stop the receipt window from showing. My app and web service will send receipts as part of an order which is raised during payment so it will be confusing for our cashiers having to click no recipes after every payment. We obviously want to brand our own receipts via email and SMS which our platform already does. I notice there is a ReceiptOptions in the

[2016-03-16 14:32] djMax commented on #51
Not sure if you're doing EMV or swipe, but for EMV this is a certification requirement because our receipts are "special" in that they meet EMV certification criteria and thus we can't remove that from the overall flow.

[2016-03-16 15:59] JamesRoche commented on #51
We just do chip and pin and contactless. Is there an option to remove this?

Sent from my iPhone

[2016-03-16 18:08] ppmtscory commented on #51
@JamesRoche there is no way to remove the receipt screens from the SDK UI due to them being there to please EMV requirements.

[2016-03-16 18:36] JamesRoche commented on #51
Ok thanks, what is the function of receipt options method i mentioned earlier?

Sent from my iPhone

[2016-03-18 19:55] ppmtscory commented on #51
According to the Javadocs, `This function gets called when ever the SDK is about to show the Receipt options screen.`

[2016-03-18 19:55] #51 closed

[2016-03-25 21:01] mariannegru opened #52 "Updating failed"
Hi,

Using sample app and a PayPal chip card reader I get an update fail error:

First error in logs is:

`03-25 21:41:32.221 15613-15709/com.paypal.heresdk.sampleapp E/Volley: [18169] BasicNetwork.performRequest: Unexpected response code 500 for https://www.sandbox.paypal.com/webapps/hereapi/merchant/v1/cardReaderDevice/MIURA/M000/keys
03-25 21:41:32.221 15613-15613/com.paypal.heresdk.sampleapp E

[2016-03-25 21:07] ppmtscory commented on #52
@mariannegru your logs show that you are using the sandbox environment.  The chip readers are not able to run in the sandbox environment due to complications with EMV processing.  You'll need to use Production with the Sample App if you are using a Chip reader.

[2016-03-25 21:07] #52 closed

[2016-03-25 21:30] mariannegru commented on #52
So I need to have a merchant production account to develop and test an application?

[2016-03-25 21:41] ppmtscory commented on #52
Correct.  Currently, in order to test payments, you would need to use a Production account.  You can test the onboarding and manual entry processing in the Sandbox, but any software updates or swipe, insert, or tap payments have to be in Production.  You would simply refund your test payments back to your card from your merchant account.

[2016-03-26 10:45] rakesh-ideal commented on #49
We created new account as described in Docs, Now its complete flow is working, Thanks.
But, I don't want to user should login into the paypal to swipe card, i want to avoid login process to generate access token then,
How we can generate "compositeAccessToken" using Client ID and Secret ?

[2016-03-26 22:22] mariannegru opened #53 "Sample Server incompatibility"
Hi,

Server sample is not used with the sample android app. Starting server and setting the url in LoginActivity.java would not work.

Where is the app sample working with the sample server, or where can I find app working with the server.

My problem is that I've implemented the goApp into my server like is implemented into sample_server/heroku_server/server.js goApp but I get the error:

`03-26

[2016-03-28 05:52] mariannegru opened #54 "unregisterReceiver for android.net.conn.CONNECTIVITY_CHANGE missing"
Hi,

Is there a way to solve this issue? I can not find any call on PayPalHereSDK to unregister

`03-28 08:42:42.535 17696-17696/com.icabbi.paypal E/ActivityThread: Activity com.icabbi.paypal.MainActivity has leaked IntentReceiver com.paypal.merchant.sdk.internal.NetworkConnectivityReceiver@4144a198 that was originally registered here. Are you missing a call to unregisterReceiver()?

[2016-03-28 14:38] ppmtscory commented on #49
@rakesh-ideal the merchant should only have to login the single time as then you would save the refresh token for later use.  The merchant will login, apply for PayPal Here (if necessary), and then provide the permissions to your account.  You'll notice that there's a refresh token returned with the access token.  You need to store this refresh token for this merchant.  When you need to generate a

[2016-03-28 14:41] ppmtscory commented on #53
The sample server being used is linked underneath the Authentication section of the README and is located [here](https://github.com/paypal/paypal-retail-node).  I'll see about either making a note in the sample server directory or removing that directory altogether.

[2016-03-28 14:41] #53 closed

[2016-03-28 15:08] ppmtscory commented on #54
@mariannegru can you tell me how to reproduce this issue so that I can see what may be happening?

[2016-03-28 15:09] ppmtscory commented on #48
Closing due to inactivity.

[2016-03-28 15:09] #48 closed

[2016-03-29 08:23] mariannegru commented on #54
I've added a check for initialised and is fine now.

[2016-03-29 08:23] #54 closed

[2016-03-29 08:25] mariannegru opened #56 "Payment issue"
Hi,

Using PayPalHereSDK.getTransactionManager().processPaymentWithSDKUI I receive this error:

`                                                                   java.lang.NullPointerException: Attempt to invoke interface method 'java.lang.String com.paypal.merchant.sdk.domain.Address.getLine1()' on a null object reference
                                                                       at

[2016-03-29 14:40] ppmtscory commented on #56
@mariannegru this is due to not populating the address correctly in the payment request.  Mainly this has to do with the scopes you request initially in the onboarding not having Address included.  Since there was no permission to get the address of the merchant account, the SDK was not able to get the relevant information to populate the merchant object on the invoice for the payment.  Please mak

[2016-03-31 19:45] mariannegru opened #57 "Payment process"
Hi,

Having this code for starting a payment:

`BigDecimal a = new BigDecimal(amount/ 100.0f);
        if(!PayPalHereSDK.getTransactionManager().hasActiveTransaction()) {
            mInvoice = PayPalHereSDK.getTransactionManager().beginPayment(a, this);

            PayPalHereSDK.getTransactionManager().setCardReaderMonitor(true);
            PayPalHereSDK.getTransactionManager().activateReaderFo

[2016-03-31 20:09] ppmtscory commented on #57
The non-UI methods will work fine **without** the EMV reader.  With the EMV reader, you have to use the UI provided which will show the receipt screen.  EMV Certification mandates various UI requirements so this is why the UI methods are required with the EMV reader.

[2016-03-31 20:09] #57 closed

[2016-03-31 20:14] mariannegru commented on #57
Ok, thank you for respnse. Is the receip screen mandatory? Is there a way to skip that?

[2016-03-31 20:17] ppmtscory commented on #57
Correct, it's required as part of the UI.

[2016-03-31 20:28] mariannegru commented on #57
But what if I need to print the receipt on a thermal printer? Is there a way to customise that?

[2016-03-31 21:19] mariannegru commented on #57
I found the solution: I need to use SDKReceiptScreenOptions

[2016-04-01 07:10] mariannegru opened #58 "Close receipt screen form custom SDKReceiptScreenOptions"
Hi,

How can I close the receipt screen on a custom receipt? If I finish the activity I'll not get the transaction failure or success.

Best regards,
Marian

[2016-04-05 11:45] mariannegru opened #59 "Update screen stuck"
Hi,

Here is the log:

`04-05 14:35:29.861 1531-1713/xxx E/Volley: [5808] BasicNetwork.performRequest: Unexpected response code 400 for https://www.paypal.com/webapps/hereapi/merchant/v1/cardReaderDevice/miura/M010?country=IE&environment=production
04-05 14:35:30.811 1531-2659/xxx V/TerminalMessageTemplate Class: TerminalMessageTemplate len: 10
04-05 14:35:30.891 1531-2659/xxx V/TerminalMessageTem

[2016-04-05 12:43] mariannegru opened #60 "Payment error"
Hi

I have this error please using both my app and this sample app:

`04-05 15:39:28.811 25936-25936/com.paypal.heresdk.sampleapp E/AndroidRuntime: FATAL EXCEPTION: main
                                                                              Process: com.paypal.heresdk.sampleapp, PID: 25936
                                                                              java.lang.RuntimeExcepti

[2016-04-08 15:59] ppmtscory commented on #60
@mariannegru I'll keep this issue open while we work through your account setup via email and you are able to test out a payment.

[2016-04-08 15:59] ppmtscory commented on #59
@mariannegru I'll keep this issue open while we work through your account setup via email and you are able to test out a payment.

[2016-04-08 16:01] ppmtscory commented on #58
@mariannegru this should all be handled within the UI of the SDK when you are using the EMV reader, however I'll keep this issue open while we work through your account setup so that you can run some tests and see if you have any further questions.

[2016-04-18 21:52] ppmtscory commented on #60
Closing per external conversations.

[2016-04-18 21:52] #60 closed

[2016-04-18 21:53] ppmtscory commented on #59
Closing per external conversation.

[2016-04-18 21:53] #59 closed

[2016-04-18 21:53] ppmtscory commented on #58
Closing per external conversation.

[2016-04-18 21:53] #58 closed

[2016-04-18 21:53] ppmtscory commented on #56
Closing per external conversation.

[2016-04-18 21:53] #56 closed

[2016-04-25 05:34] jarred-s opened #62 "Receipt screen locked to landscape orientation"
We are using the paypal here reader in a kiosk application where it is connected to a tablet.

The tablet is mounted in a portrait orientation and all SDK screens appear correctly except for the final receipt screen that is locked to the landscape orientation.

This is the case when we use the SDK both within our application the included sample app. Orientation is correct when running on a phone (

[2016-04-25 15:28] ppmtscory commented on #62
Thank you, @jarred-s.  We'll take a look and get back to you.

[2016-04-25 21:46] ppmtscory commented on #62
@jarred-s I'm able to reproduce this so I'll file the issue with the team to allow the appropriate orientation and I'll update you here when the work is completed.

[2016-04-26 01:28] jarred-s commented on #62
@ppmtscory Cheers Cory, looking forward to getting a fix.

[2016-04-28 11:46] rakesh-ideal commented on #49
OK i got it, i can store refresh token for further use and avoid login process, but now i want to same for iOS app so i just used PayPal-Mobile/ios-here-sdk-dict, Everything is working fine, but generated token does not seems to refresh token its expiring in 8 hour, so
How i can generate refresh token for iOS app as generating in android sample ?
I checked android app generated refresh token not w

[2016-04-30 09:33] rakesh-ideal commented on #36
Hi lernerb,  Any updates about Google Play Services incompatibility issue ? i also waiting for this fix.

[2016-05-17 19:10] aleksandar9 opened #63 "Error updating the EMV chip card reader"
I get an error when trying to update the EMV chip card reader. This is what the AS log says:
`[3098] BasicNetwork.performRequest: Unexpected response code 500 for https://www.sandbox.paypal.com/webapps/hereapi/merchant/v1/cardReaderDevice/MIURA/M000/keys`
`HereDeviceKeysRequest- RESPONSE BODY ON ERROR: {"correlationId":"5a6774975de10","errorCode":600000,"message":"MobileMerchantPaymentServ: Unknow

[2016-05-17 19:16] ppmtscory commented on #63
It appears that you are trying to use the EMV reader in the Sandbox environment.  The functions of the EMV reader are only available in the Live/Production environment.

[2016-05-17 19:16] #63 closed

[2016-05-17 19:36] aleksandar9 commented on #63
I am not a US/UK based developer, regardless I was provided with an EMV
reader by a client. How can I test anything until the live/production
environment is set up?

On Tue, May 17, 2016 at 9:16 PM, Cory <notifications@github.com> wrote:

[2016-05-17 19:56] ppmtscory commented on #63
You can test key-in transactions via the Sandbox environment but that does not utilize the EMV reader.  You can, however, still set up the SDK and start the integration - just use keyed transactions for the payment type.  The onboarding also works in the sandbox.

[2016-05-18 23:39] balage-amarasena commented on #36
Hi lernerb,
We are also having the same issue. we are using the PayPalHereSDK-1.6.1.1-release.aar with play-services-location:8.4.0. Can you please let us know if there is a fix or workaround for this ?

[2016-05-24 09:46] jarred-s commented on #62
As our product is nearing release is there a workaround for this, is it possible to either:

- Disable the receipt screen entirely (force a no-receipt)?
- Modify and repackag the SDK myself, is there anything stopping me from doing this?

[2016-05-24 16:47] ppmtscory commented on #62
@jarred-s you won't be able to modify the receipt screen, no, as that is all part of EMV certification requirements.  I'm double checking with the team on an ETA for the fix.

[2016-05-24 19:56] ppmtscory commented on #62
This will be fixed with the next release of the SDK which is estimated to happen in the next day or two.

[2016-05-31 10:55] JarredSteenvoorden opened #65 "Clear reader screen after transaction complete"
After taking an EMV payment with the processPaymentWithSDKUI() function and choosing a receipt option they PayPay Here screen remains with the display either:
"$1.00 paid. Thank you!"
"$1.00 Transaction cancelled"

Is there a function to call to reset the display back to the original:
"Ready to accept payments."

I see that in #41 there is the suggestion to initiate a reconnect however It would be

[2016-06-03 19:18] ppmtscory commented on #65
After the transaction completes, if you simply call `beginPayment()` again, that should clear the reader as well and set it back to the Ready to Accept Payments screen.  As for custom text, no, there's currently no way to add custom text to the reader.

[2016-06-04 10:44] mastahnish opened #68 "Updating Card Reader with two different connectToDevice methods FAILED"
Hello I'm using Here SDK Sample App for Android to get familiar with Card Reader usage flow.

I'm from Poland.
I'm using Sandbox (_I know it may be the reason but please read my description carefully till the end_).

I tried two methods to connect to device:

![image](https://cloud.githubusercontent.com/assets/11060323/15799040/8759848e-2a4f-11e6-8eef-04bba0f0b6a0.png)

when using this method to c

[2016-06-06 00:29] balage-amarasena opened #69 "Card reader timeout after processPaymentWithSDKUI call makes the view unresponsive"
In PayPal here sdk sample app for android after the method processPaymentWithSDKUI is executed we see the dialog telling users to "Please tap, insert or swipe your card". if the user does not do any of these things for about ~20 seconds the card reader times out. The android app removes the above mentioned dialog and goes to a state where it seems to have set focus on some hidden dialog (The statu

[2016-06-06 17:36] ppmtscory commented on #69
Correct - the sample app is here to simply display the general functionality of a transaction with the PPH SDK and does not have _all_ possible scenarios implemented.  I've marked this as an enhancement so that it can be tracked for any future sample app updates.

[2016-06-06 17:42] ppmtscory commented on #68
Yes, the reader update is what's blocking you.  Currently the EMV reader does not work in the Sandbox environment so you'll need to utilize the Live environment for any updates and testing with the EMV reader.  This update can be done via the PayPal Here App or via the SDK, either way, but has to be in the Live environment.

[2016-06-06 17:42] ppmtscory commented on #68
Yes, the reader update is what's blocking you.  Currently the EMV reader does not work in the Sandbox environment so you'll need to utilize the Live environment for any updates and testing with the EMV reader.  This update can be done via the PayPal Here App or via the SDK, either way, but has to be in the Live environment.

[2016-06-07 09:52] mastahnish opened #70 "Are Google Play Services mandatory when using PayPalHereSDK?"
Hello,

I want to integrate PayPalHere device with Zebra MC40 device, which doesn't support Google Play Services.

With such setup - will it be possible to perform payment transactions using PayPalHere device (card reader)?

[2016-06-07 17:26] ppmtscory commented on #70
The SDK is compiled against Google Play services so if the phone is not able to utilize that, then unfortunately, it's most likely not supported.

[2016-06-07 17:26] #70 closed

[2016-06-08 10:59] jarred-s commented on #65
This doesn't seem to be working, after a successful payment calling beginPayment() does not clear the display, it remains with the "$1.00 paid. Thank you!" text until processPaymentWithSDKUI() is called and the "Tap, Insert, or Swipe" is shown.

Can you confirm if this is a bug or if there is another way to get back to the "Ready to Accept Payments" screen.

[2016-06-08 21:41] ppmtscory commented on #65
That should work.  Let me do some research and playing around with the sample app prior to confirming if this is a bug or not.  I will update you here once I'm finished.

[2016-06-09 09:25] mastahnish opened #71 "NullPointerException when performing transaction in SampleApp using PayPalHere CardReader"
Hello,

i'm using Sample app (version 1.6.2.6) and tried to perform test transaction (using Live environment)

However, when I was asked to insert a card into CardReader it started transaction and crashed.
This is what I found in logs:

[code]

[2016-06-09 09:27] mastahnish commented on #68
Thank you @ppmtscory that was correct.
I faced another issue #71 when trying to perform transaction using SampleApp and PayPalHere CardReader. Maybe you could take a look on it as well.

Thank you for your help so far!

[2016-06-09 15:14] ppmtscory commented on #68
You're welcome.  I will close this issue and take a look at your other one.

[2016-06-09 15:14] #68 closed

[2016-06-09 15:19] ppmtscory commented on #71
There's quite a bit going on in those logs.. :)  Are you trying to swipe the card first and then you insert it?  Also, did you modify the code to do an Authorization instead of a Sale transaction?  I just successfully used the sample app yesterday so I'd need the exact steps you are going through, as well as modifications, to understand better what's happening.  The error itself is due to a null i

[2016-06-10 00:15] ppmtscory commented on #65
@jarred-s so after some testing, and help from the dev team, I've found that you need to add an item (can be $0) to the invoice that's created with `beginPayment`.  This will reset the reader screen to Ready to Accept Payments.  We understand that having to add the actual item instead of just a new blank transaction isn't ideal, so we've added it to our backlog of work to be fixed.  Below is the s

[2016-06-10 09:00] mastahnish commented on #71
@ppmtscory
I tried both scenarios
- swiping and then inserting
- only inserting

You have to know that I want to utilize accessToken provide from my customer's API.
So on the customer's server side there's a curl command done and I will be provided with accessToken that I will use in authentications.
Regarding the code - yes, I slightly modified it.
Here's what I changed:|
- In `LoginActivity.java

[2016-06-10 15:34] ppmtscory commented on #71
Ah, thank you for the clarification.  Yes, the sample app is indeed set up to utilize the composite token that's provided from the retail node mid-tier server.  Since it's set up that way, and is used just as a demo, you should be able to modify it to use just the credentials, however it's possible that there's someplace that's not getting changed.  Therefore, it tries to read the information from

[2016-06-10 15:35] ppmtscory commented on #71
Also, if you wanted to utilize the same mid-tier server and composity token setup for your own integration, that server is found [here](https://github.com/paypal/paypal-retail-node) and can be deployed directly to Heroku if you're using that for a cloud server.

[2016-06-10 16:49] mastahnish commented on #71
@ppmtscory the problem is that I modified sample app to use `setCredentials()` and I'm getting this NPE error when making transactions. Do you have any idea how to solve it?

[2016-06-10 17:20] ppmtscory commented on #71
It's happening because there's no active merchant set which is due to somewhere expecting the composite token but receiving just the access token directly.  Since the sample app isn't set up that way by default, in order to see what needs to be changed, I will need to try to modify it myself to get it going via `setCredentials`.  This will take some time, but I will update you here once I'm able t

[2016-06-10 17:24] mastahnish commented on #71
@ppmtscory This will be much appreciated. Please test it in that way and let me know about the possible solutions. Thank you!

[2016-06-10 18:49] ppmtscory commented on #71
Alright, that didn't take as long as I anticipated.. :)

- In `LoginActivity.java` you need to modify the code to use your own access token instead of the one stored in local preferences.  Or if you wanted to store your access token in local preferences and grab it from there, then I suppose you could do that as well.
- In `setAccessTokenToSDK`, I changed the variable being passed in to `accessTok

[2016-06-10 19:18] mastahnish commented on #71
Thank you @ppmtscory for that for your effort, but please note that this is exactly what I did already (I described it in my previous comments).
Despite I did it in that way I got that NPE error.
I feel a little confused now what can bee the reason of this NPE on my side...

[2016-06-10 20:21] ppmtscory commented on #71
I understand that, however, with me doing the same and it working, there's likely either something else that was modified in your code or maybe there's an issue with the merchant account you are using.

[2016-06-10 20:28] ppmtscory commented on #71
Can you email pph-sdk@paypal.com with subject 'Attn: Cory' so that we can communicate about account specific things outside of this public forum?

[2016-06-11 00:02] mastahnish commented on #71
@ppmtscory Sure, just sent you an email.

[2016-06-21 16:09] #71 closed

[2016-06-21 16:10] ppmtscory commented on #62
Closing as this should be resolved now.

[2016-06-21 16:10] #62 closed

[2016-06-21 16:12] ppmtscory commented on #49
Closing as this auto-refreshing issue is being handled in the iOS repo.

[2016-06-21 16:12] #49 closed

[2016-06-22 10:37] brooth opened #72 "software update failed"
Hi, I try to implement paypal payments within my app. I installed your sample app and after I connect to my reader (sandbox credentials) it's starting the update process but It always fails at step 6. In logcat I can see next errors:

[code]

[code]

[code]

[code]

also warning:

[code]

[2016-06-22 12:03] JarredSteenvoorden opened #73 "Receipt screen text cut short when displayed on portrait tablet"
Testing the fix made for #62 (using PayPalHereSDK-1.6.2.6) on our tablet has found that while now the screen is rotating correctly for portrait orientation the text is cut off and not fully visible.

See the following screenshot that shows how it is displayed on a Nexus 7 and Pendo Pad 7 device:
https://drive.google.com/file/d/0B5_jGJprjCUWTDdsekJ5dEFLcjQ/view

It is however displayed correctly wi

[2016-06-22 18:17] ppmtscory commented on #72
@brooth the software update only works in the Production environment.  You'll need to either do Production creds with the sample app or you'll need to login to the PayPal Here App with your Live login and the software update will take place there when the reader is connected.

[2016-06-23 15:54] ppmtscory commented on #72
Closing this out but please let us know if you run into any issues with the software update in Production.

[2016-06-23 15:54] #72 closed

[2016-06-23 19:36] ppmtscory commented on #73
@jarred-s thanks for following up with this report.  I will have a look and see if I can tell what's happening.

[2016-06-24 06:25] brooth commented on #72
So far I can't login with my own credentials. Here is the error dialog: https://gyazo.com/944a8f96c11d5e077687d9b44b9b7b8c

In logcat:
[code]
I tried to clear data and reinstall the app but still getting this error.
I also not allowed to install PayPal Here App due to it's not available in Russia.

[2016-06-24 14:12] brooth commented on #72
We've just created UK merchant account and faced another issue with it. The dialog the same but in logcat  another response:

[code]

[2016-06-28 13:23] MinithaMurali commented on #50
i faced the same issue.But i cannot resolve.The url that i used is https://www.paypal.com/webapps/auth/protocol/openidconnect/v1/authorize?scope=openid%20https://uri.paypal.com/services/paypalattributes/business%20https://uri.paypal.com/services/paypalhere&response_type=code&redirect_uri= http://192.168.1.55:1046/paypal.php&client_id=AT2X2_UiNNG-hhmkMjQozlTwEpATs7Ti9oV9FREYyosZaLrLiEj-8DlELe0lcXEI

[2016-06-28 17:54] ppmtscory commented on #50
You need to add `address` and `email` to your list of scopes as my previous comment suggested.  Also, make sure those are checked in your REST app underneath the Login With PayPal section.

[2016-06-28 17:57] ppmtscory commented on #72
It appears that you don't have PayPal Here enabled on the account.  This would be the reason you see the `"status": "ineligible"` response.  You'll need to apply for PayPal Here for that account via https://www.paypal.com/webapps/mpp/credit-card-reader.

[2016-07-08 08:53] PaulNeesham commented on #36
Just wondering if there is an ETA for when this will be fixed. Version 8 came out almost a year ago (September 2015) and not supporting it is holding us back from using any features and bug fixes added to play services. I would also argue this is a bug not an enhancement due to the fact it is stopping play service bugs being fixed in the apps paypal is bundled with.

[2016-07-08 16:29] ppmtscory commented on #36
Hey All - I'm checking with the team on where this lies in the backlog of work.  Once I have any updates, I will be sure to let you know.

[2016-07-11 07:33] brooth commented on #72
Ok, after all it works. The reader was updated with no errors. Thanks!

[2016-07-15 10:21] brooth opened #74 "[Release 1.6.2.6] NPE at HereInvoiceCreateRequest.java:84"
After each successful sandbox payment SDK fails with:

[code]

[2016-07-18 07:01] brooth commented on #74
BTW, my live merchant account has an address. But there is no address field for sandbox accounts on https://developer.paypal.com/developer/accounts/create.

[2016-07-18 15:12] ppmtscory commented on #74
If everything is set up with the merchant initially, then the SDK will grab the address information from the account.  Did you send your merchant account through the onboarding process to grant permissions to your Partner account to process on it's behalf?

[2016-07-18 15:12] ppmtscory commented on #74
If everything is set up with the merchant initially, then the SDK will grab the address information from the account.  Did you send your merchant account through the onboarding process to grant permissions to your Partner account to process on it's behalf?  Is your sandbox merchant account enabled for PayPal Here?

[2016-07-19 07:12] brooth commented on #74
No, I need to escape this. I obtained the token through https://api.sandbox.paypal.com/v1/oauth2/token (via curl). I am trying to integrate PPHere in our taxi solution software, so we're going to create one marchant account per our customer and sub-account (like these https://developer.paypal.com/developer/accounts/create) for each taxi driver. Also, we need to obtain the tokens via our backend, i

[2016-07-19 14:47] ppmtscory commented on #74
You'll have to do the onboarding a single time so that you can grant access and get the refresh token to store and use later on.  Even if this is for your own account, it still has to be done.  You'll need to go through the onboarding to grant permissions, store the refresh token you get, and then use that refresh token later on to generate the access token when needed.  More info on this process

[2016-07-27 14:32] brooth commented on #74
Thank you for the information. I have done onboarding process and given permissions to my application. Moreover, now I get valid access token and pass authentication. However, I still get the null pointer exception I posted above when trying to perform a transaction. Please let me know if you need more information.

[2016-07-27 17:34] ppmtscory commented on #74
I'm guessing that your Sandbox merchant account is not enabled for PayPal Here.  Can you let me know the sandbox account and I can take a look?

[2016-08-01 13:38] brooth commented on #74
Sure, it has client ID: AYAoBEy1RISsWORgRshrP5suI_50FBAU5k6vOnRHI6WyvZOATnyxK3z2LgAHZvqruheUvhmw9z5aM5fC
and here is a screenshot with enabled 'PP Here' setting https://gyazo.com/ad7de401812c29d4f28696f106da9181

[2016-08-02 20:24] ppmtscory commented on #74
Those are you App settings, but I need to know the sandbox email address that you logged into and went through the onboarding with.

[2016-08-03 06:54] brooth commented on #74
I went though the onbording process with ar@haulmont.com but I get the token with ar-facilitator@haulmont.com credentials since I can't find sandbox Client ID
 and Secret code for ar@haulmont.com

[2016-08-03 15:13] ppmtscory commented on #74
That wouldn't work because your non-facilitator account is NOT a sandbox account.  You'll want to go through the onboarding process with the -facilitator account and also use that accounts credentials to turn the auth code into a refresh and access token.  Also, make sure all your endpoints are pointing to the sandbox environment.  Your facilitator account is enabled for PPH so using that account

[2016-08-08 13:12] brooth commented on #74
After all I can't get it work. First of all I tried to follow [this guide] (https://developer.paypal.com/docs/integration/paypal-here/sandbox-testing/getting-paypal-here-approval-for-sandbox-accounts/) from scratch and created "Rayn" sandbox acc. When I go through the onboarding process via this [uri](https://www.sandbox.paypal.com/webapps/mobilemerchant/page/mpa/ob/geturl?onbver=2.0&country.x=US&

[2016-08-08 17:15] ppmtscory commented on #74
@brooth going through the sample app works because you're generating a third party access token.  When you use your facilitator account with that curl call, that's a first party token, which can't be used within the SDK.  Do the following with your facilitator account....

1. Direct to the following link - using YOUR client ID (from your facilitator account) and `redirect_uri` that's set in your R

[2016-08-09 08:03] brooth commented on #74
No luck again.

What do you mean by YOUR client ID? where can I get it? The only client id I have is the one in my app.

So, I am on `developer.paypal.com`. Under "Dashboard" - "My Apps & Credentials" - "REST API apps" I create an app "my-app". As a "Sandbox developer account" I selected "xxx-facilitator@haulmont.com". Now I have a "Client ID" and a "Secret" under "SANDBOX API CREDENTIALS". I also

[2016-08-09 15:21] ppmtscory commented on #74
Yes - you'll get the same NPE because you deleted the necessary scopes (address, email).  You'll need to go into your App on dev portal and select those options underneath the Log In With PayPal section so that you can add them back to your code.  All the scopes in my example are required.  For simplicity sake, since it's sandbox, just check all the boxes underneath the Log In With PayPal section

[2016-08-10 06:43] brooth commented on #74
Finally it works! Thank you!

[2016-08-10 06:43] #74 closed

[2016-08-11 09:37] brooth opened #77 "Paypal Here invoices"
Sorry if it's not right place for this issue but I really can't find more appropriate one.

I can't receive my paid invoices via https://api.sandbox.paypal.com/v1/invoicing/invoices, it always returns empty list. But I can receive an invoice details via https://api.sandbox.paypal.com/v1/invoicing/invoices/. Also, I found this link https://www.sandbox.paypal.com/webapps/hereapi/merchant/v1/invoices

[2016-08-11 15:50] ppmtscory commented on #77
For PPH, you can use `https://api.sandbox.paypal.com/retail/merchant/v1/invoices` for the search and also `https://api.sandbox.paypal.com/retail/merchant/v1/invoices/<invoice ID>` for the invoice details.  If you are wanting to use the regular REST API endpoint for the search, then you need to add an additional HEADER to tell the system to look for PPH created invoices rather than REST API created

[2016-08-11 15:50] #77 closed

[2016-08-12 14:36] brooth opened #78 "Cannot proceed with this merchant account. ineligible"
2 days ago [I finally configured my sandbox account](https://github.com/PayPal-Mobile/android-here-sdk-dist/issues/74) to work with the SDK, but today it stopped working without any modifications.

        Credentials creds = new OAuthCredentials(token);
        PayPalHereSDK.setCredentials(creds, setCredentialsHandler);

now returns

        error: Cannot proceed with this merchant account. ineli

[2016-08-12 14:40] ppmtscory commented on #78
@brooth what are you seeing in logcat?  Is there mention of a missing business name?

[2016-08-12 14:50] brooth commented on #78
@ppmtscory
nothing unusual

	V: not Base app: Adding window Window{18382f93 u0 Paypal HERE} at 8 of 14
	W: couldn't log to binary event log: overflow.
	setCredentialsHandler.onError(error: Cannot proceed with this merchant account. ineligible, code: InvalidMerchant)

last line from my logger:

        DefaultResponseHandler.onError(PPError<MerchantManager.MerchantErrors> error) {
             logg

[2016-08-12 14:55] ppmtscory commented on #78
Since this is just sandbox, what's the access token you are using?

[2016-08-12 14:56] brooth commented on #78
A103.RqFC_pf1uZqWPEoyXsQVyEDxCfwaN7JvxQ8e7kgPLDsngtXVwIO_CesdALrzT-tf.QPAMsbNTG003DtrIZgftiVPnc4q

[2016-08-12 15:01] ppmtscory commented on #78
Crap, ok.  There's currently an issue right now with our token services where access tokens starting with A103, while valid, are not containing the permission to grab the business name from the account.  This will hopefully be fixed tonight.  However, in the meantime, there's 2 ways around it.

1. A safeguard against this would be to populate the business name manually.  When you get the success c

[2016-08-12 15:03] brooth commented on #78
Ok, thanks!

[2016-08-15 08:37] brooth commented on #78
Still doesn't work

[2016-08-15 15:32] ppmtscory commented on #78
There should be no issues with business name with either token type now.  The fix was pushed out Friday evening and I've tested everything this morning with all being successful.

[2016-08-16 07:46] brooth commented on #78
I've tried everything and I can't get it work. I've recreated rest app,  got through the onboarding process, created new tokens  but the SDK still returning "error: Cannot proceed with this merchant account. ineligible, code: InvalidMerchant". Here is my last valid token "A103.vcj__VUznZD_c4c9cf1GZ-LXYCx82VHfYOzRE9-QwUjIGYSVJmqbV25BCrW1PT6E.C5XuHH9KEMuEPT2BivDOm6PgT2K". Please, check what's wrong

[2016-08-16 17:27] ppmtscory commented on #78
@brooth I'm fairly certain there's a larger issue happening in the Sandbox right now as I'm seeing some troubles with my account as well.  I'm looking into it and will update you once I know more.

[2016-08-17 09:37] brooth commented on #78
@ppmtscory
May be this can help. I've tried to login within your sample app and here is the logcat output:
[code]

[2016-08-17 14:21] ppmtscory commented on #78
The service, internally here, is not behaving correctly so it's showing that PayPal Here isn't enabled on the account.  I've already escalated to the team and am just awaiting resolution.  If you wanted, or are able, you can test in Production and refund the payment as this is only affecting Sandbox.

[2016-08-18 22:25] ppmtscory commented on #78
@brooth my apologies for the delay but this has been resolved.  You should be good to go now.

[2016-08-18 22:25] #78 closed

[2016-08-19 08:49] brooth commented on #78
It does work. Thanks!

[2016-09-28 14:52] karthikrajan22 commented on #36
Hi Every One,
   Am using
   **PayPalHereSDK-1.6.1-release**
  **and the app is using firebase-messaging and play-services-location version 9.0.0** for module gradle. when am using this to compile i got this error messages **The method 'boolean com.google.android.gms.common.api.GoogleApiClient.isConnected()' was expected to be of type interface but instead was found to be of type virtual (declarat

[2016-09-28 15:15] ppmtscory commented on #36
All - my apologies on the delay but this was updated and is available with the latest release in the repo.

[2016-09-28 15:15] #36 closed

[2016-09-28 17:38] karthikrajan22 commented on #36
@ppmtscory  Got it man.. Thanks.. Worked.!

[2016-10-07 13:10] PaulNeesham opened #83 "ANR with Volley doing SSL Handshake"
We're finding the app randomly freezes a lot on android 4.4 (typically samasung but also Lenovo) devices

The fact it crashes on the thread named: VolleyNetworkDi  leads me to believe this is an issue with volley. Only the PayPal SDK uses volley.

I have searched all over trying to find a work around but had no luck.

I will add I found this : http://android-developers.blogspot.co.uk/2011/09/andro

[2016-10-12 09:34] developersteve opened #85 "Android 7 Nougat - Webview login issue"
Currently the Webview throws and error and is unable to work on Android 7 Nougat with the SDK login links unable to connect..

`[ERROR:gles2_cmd_decoder.cc(2167)] [.CommandBufferContext.RenderCompositor 0x94219e00]GL ERROR :GL_INVALID_OPERATION : BackFramebuffer::Destroy: <- error from previous GL command`

[2016-10-24 23:28] chauhanmahesh opened #87 "[URGENT] Payment is failing now everytime in Sandbox environment"
Before starting on the issue, let me clear it out that the payment is used to work in the sandbox environment for me. But from almost a week it is failing every single time (Earlier it used to fail like 2 times out of 10).
I am using the same merchant account as I was using earlier (when it used to work). In the log I can see that:

10-25 10:20:07.557 4910-4910/ D/PPHSDK: TransactionManagerImpl-in

[2016-10-25 11:02] alwynlombaard commented on #74
I have exactly the same experience, decrypting the documentation and the sample server is an absolute nightmare. It is one of the worst SDK integration experiences I've had.  Hopefully this will save me :)

[2016-10-25 14:12] ppmtscory commented on #87
My apologies for the obvious questions, but have you tried different cards and also try that card with the regular triangle dongle reader (if you're able in your location)?  I don't know of any widespread cardSwipeFailed errors in Sandbox and I just ran a bunch of them yesterday without issue.

[2016-10-25 15:43] alwynlombaard opened #88 "Problems with generating refresh token for merchant"
I'm trying to setup a merchant on Sandbox to use for the Android Paypal Here SDK in a custom build app.

I followed the documentation and generated an authorization code for the merchant when it granted permission to my Paypal REST API app.

Now I need to generate a refresh token for my merchant. According to my research and the Sample server I need to use the auth code to get a refresh token and

[2016-10-25 16:13] #88 closed

[2016-10-25 20:40] chauhanmahesh commented on #87
@ppmtscory Thanks for your reply.
I tried many different card in addition to the one's which was working earlier. I don't know about the regular triangle dongle reader.
Also the payment fail is happening with multiple readers. I tried creating new sandbox merchant account as well bt still no luck.

[2016-10-25 21:16] ppmtscory commented on #87
Is this same card and/or card reader working for Live?  I'm curious if it's only a sandbox issue or not.  Also, are there any logs after the cardSwipeFailed message?  Is there anything pertaining to "Response from backend" or any API error messages or correlation IDs?

[2016-10-25 23:49] chauhanmahesh commented on #87
Right now I don't have any merchant account for live so I'm testing on sandbox only. Below is more logs from a Sample PayPal Here app. It's failing as well.

10-26 10:46:33.294 5053-5053/com.paypal.heresdk.sampleapp D/PPHSDK: TransactionManagerImpl-unregisterListener
10-26 10:46:33.294 5053-5053/com.paypal.heresdk.sampleapp D/PPHSDK: SDKUITransactionController-unRegisterAllListeners IN
10-26 10:46

[2016-10-26 15:24] karthikrajan22 commented on #63
Hi Cory,
  Am using Paypal Chip Card Reader, when am proceed the transcation, at the end the **"Transcation Cancelled Message"** is showing in both Mobile and Paypal Chip Card Reader.
I have posted the request and reponse information with this.

_> Unexpected response code 500 for https://www.paypal.com/webapps/hereapi/merchant/v1/payment//void

Thank you ..!

[2016-10-26 15:26] karthikrajan22 commented on #52
Hi Cory,
Am using Paypal Chip Card Reader, when am proceed the transcation, at the end the "Transcation Cancelled Message" is showing in both Mobile and Paypal Chip Card Reader.
I have posted the request and reponse information with this.

_> Unexpected response code 500 for https://www.paypal.com/webapps/hereapi/merchant/v1/payment//void

    10-26 08:21:50.767 31119-31119/com.paypal.heresdk.samp

[2016-10-26 15:40] ppmtscory commented on #52
Your error is different than this issue that was closed long ago.  Please open a new issue with what you're seeing.

[2016-10-26 15:40] ppmtscory commented on #63
Your error is different than this issue that was closed long ago.  Please open a new issue with what you're seeing.

[2016-10-31 11:19] alwynlombaard opened #89 "500 Internal server error when trying to obtain an access token"
This worked on Friday but now this is happening for the same refresh token.

May I just add a note that this SDK integration is just outright a bad experience and the Sandbox behaviour is totally unreliable. Further it is unclear where and how to raise issues with the Sandbox. This has been a very frustrating product integration so far.

When I try to get an access token here:

    https://www.san

[2016-10-31 16:21] ppmtscory commented on #89
There seems to be an issue in the sandbox right now for this endpoint.  We're currently looking into it and I will update you once we know more.

[2016-10-31 17:31] ppmtscory commented on #89
This has been resolved now.

[2016-10-31 17:31] #89 closed

[2016-11-01 06:52] chauhanmahesh opened #90 "Sample app for Android is not working for Live"
Do I have to make any changes in the sample app to make it work for Live environment. When choosing Live and tapping on Login, it always showing this page
"Relying party validation error: client_ID or redirect_URL provided in the request does not match any of the registered clients. Please check the request and try again."

[2016-11-04 01:15] ppmtscory commented on #90
Ah... I'm seeing the same.  I'll get the folks with access to the sample server to fix this for us.  Standby...

[2016-11-04 20:57] ppmtscory commented on #90
@chauhanmahesh this should be resolved now.  I'm able to get the login without error when setting the sample app to Live.

[2016-11-04 20:57] #90 closed

[2016-11-04 23:02] chauhanmahesh commented on #90
Thanks @ppmtscory.

[2016-11-09 15:14] alwynlombaard opened #91 "MAX NETWORK RETRIES REACHED - Unknown errorcode after account password change on Live"
On Live.

I changed my merchant user password and now I'm getting MAX NETWORK RETRIES REACHED  with Unknown error code in PPError<MerchantManager.MerchantErrors> when I initialise the sdk. Is this due to the password change on the merchant user account? or what is going on?

![screen shot 2016-11-09 at 15 13 41](https://cloud.githubusercontent.com/assets/405293/20143041/30e23c9c-a68f-11e6-8b45-3f8

[2016-11-09 15:19] alwynlombaard commented on #91
I figured out that my access token was still cached on my server. Forcing a refresh on the server fixed it.

[2016-11-09 15:19] #91 closed

[2016-11-14 00:12] chauhanmahesh commented on #87
nope @ppmtscory It didn't worked. When I talked to PayPal support team, they mentioned that payment never work on the sandbox environment, which is actually not true. It was definitely working for me when it suddenly stopped.

[2016-11-14 14:39] ppmtscory commented on #87
@chauhanmahesh can you update to the latest verion, 1.6.6, and give that a shot?  There were some payment issues for others that this resolved.  If that still doesn't work, can you share a sandbox token for me to use and try out?

[2016-11-22 00:26] abhirav opened #93 "Does Paypal here now supports Australian Paypal account?"
Hi,
Does Paypal here sdk now supports Australian Paypal account? Last year when I was using PayPal here, Australian accounts were not supported.

[2016-11-22 10:37] brooth opened #94 "PPH SDK v1.6.6: Unexpected response code 200 for https://www.sandbox.paypal.com/webapps/hereapi/merchant/v1/status"
Fails on PayPalHereSDK.setCredentials(new OAuthCredentials(...), ...)

In the logcat there is this line:

[code]

DefaultResponseHandler.onError(..) is called with error:
[code]

The code worked well before. Now it doesn't without any modifications.
Not sure is it related or not but account's password was changes recently.

Please, fix it ASAP

[2016-11-22 17:48] ppmtscory commented on #93
Yes, the SDK is available for US, UK, and AU at this time.

[2016-11-22 17:48] #93 closed

[2016-11-23 16:59] ppmtscory commented on #87
Closing this out as the update should have resolved the issue.  If not, please provide the requested information and we can re-open the issue.

[2016-11-23 16:59] #87 closed

[2016-12-08 04:27] abhirav opened #95 "PayPal here EMV reader connection issue"
Hi,
I am having issues with Paypal Reader EMV connection. I successfully getting SDK initialised but while connecting with reader it fails giving me SDK error dialog "Software Update Failed". Below are the steps I am doing to make Paypal HERE android sdk work with our apps:

1. Get authorization code:
Request: https://www.paypal.com/signin/authorize?scope=https://uri.paypal.com/services/paypalhere

[2016-12-08 14:35] kevintparker opened #96 "PayPal Here SDK URI"
PayPal Technical support forwarded me so I was hoping someone can give me an answer here. I am posting this on both Android and Apple PayPal SDK sites.

Based on the documentation:
**_The PayPal Here SDK for iOS is a collection of classes, protocols, and other resources for developing point-of-sale apps that run in iOS. It communicates with the underlying PayPal APIs at the following URIs:
https:/

[2016-12-08 14:56] ppmtscory commented on #96
Closing this as it's going to be addressed via your other issue [here](https://github.com/paypal/paypal-here-sdk-ios-distribution/issues/109).

[2016-12-08 19:19] #96 closed

[2017-01-11 11:41] PaulNeesham opened #97 "Activity Leak"
Using 1.6.6

When Calling PayPalHereSDK.getCardReaderManager().connectToDevice().
Each time it fails to connect a new EMVDeviceConnectActivity Leaks. (5 leaks of this activity can be seen in the bump)

When Calling PayPalHereSDK.getTransactionManager().processPaymentWithSDKUI().

The EMVPaymentActivity Leaks.

Also EMVDeviceUpdateActivity seems to have leaked when updating the device.

As you can

[2017-01-17 22:58] ppmtscory commented on #97
@PaulNeesham can you let us know what device you're running this on and also what Android version?

[2017-01-18 03:17] amrish7 commented on #97
Hi @PaulNeesham - Thanks for reporting on this issue. I found out a couple of scenarios that caused the destroyed activity to not be reclaimed I am working on fixing it.

Question - Wondering if there were any `out of memory` exceptions that lead you to this issue?

[2017-01-18 08:12] PaulNeesham commented on #97
Here are 3 images from the bump:
![dump1](https://cloud.githubusercontent.com/assets/2102461/22056006/c4cbbbb6-dd55-11e6-82d6-7e8446b43123.PNG)
![dump2](https://cloud.githubusercontent.com/assets/2102461/22056007/c4cbeafa-dd55-11e6-99ca-ba4e7d16ca95.PNG)
![dump3](https://cloud.githubusercontent.com/assets/2102461/22056008/c4ce8a44-dd55-11e6-81a6-dfc92a76f5c6.PNG)

[2017-01-18 08:14] PaulNeesham commented on #97
This was running on a Nexus 5X with Android 7, the reason I found it was just from noticing the memory usage was increasing over time for the app, I found an activity leak in my own code but also noticed the PayPal code was leaking.

[2017-04-26 22:52] spencermwatts opened #98 "zlib dependency in server's package.json blocking heroku install"
Heroku won't deploy the sample server file unless the zlib dependency is removed.

This is because zlib is no longer maintained (as it is built into node.js).

[2017-04-27 13:46] ppmtscory commented on #98
The sample_server that's included in this repo is no longer valid.  There's a PR to have it removed but it just hasn't been merged yet.  If you're wanting a sample server to use, please utilize our current one [here](https://github.com/paypal/paypal-retail-node).

[2017-04-27 13:46] #98 closed

[2017-04-27 13:50] spencermwatts commented on #98
Thanks, @ppmtscory -- appreciate it.

[2017-07-31 18:09] kerekson opened #99 "PayPalHereSDKWrapper.getInstance().isMagstripeReaderConnected() always returns false"
I am trying to collect a payment using a Magstripe Reader that is connected through the Audio Jack, but for some reason whenever I call PayPalHereSDKWrapper.getInstance().isMagstripeReaderConnected() it always returns false meaning that it is not detecting the AudioJack Reader.. I am using a Google Pixel on the latest android version.. Is there anything I need to make sure I am doing when I try an

[2017-07-31 19:01] ppmtscory commented on #99
Are you using the sample app or your own integration?  Do you have the volume, on the Pixel, turned all the way up and disabled any equalizers?  Also, some of those phones have volume limiters that need to be manually overridden the first time.  Can you also check that?

[2017-07-31 19:46] kerekson commented on #99
Cory,

So I just turned up the volume on my Pixel and now the audio reader is connected through the sample app, but it does not recognize it in my own app.. I seem to be following the same process the sample app does, but mine is not being detected..

[2017-07-31 19:48] kerekson commented on #99
If the device is connected through the Audio jack then when I call,

PayPalHereSDKWrapper.getInstance().isMagstripeReaderConnected() it should return true,

correct?

[2017-07-31 20:06] ppmtscory commented on #99
If you have all the listeners and everything implemented just like the sample app, then it should, as that's the function that the sample app uses to check.

[2017-08-08 14:55] davidjrice opened #100 "NullPointerException com.paypal.merchant.sdk.internal.ui.interfaces.SDKTxNavigationFlow.sendReceipt"
Hi folks; we are using the PayPal Here SDK in our integration and are seeing the following exception occurring occasionally.

[code]

[2017-08-08 14:57] davidjrice opened #101 "NullPointerException com.paypal.merchant.sdk.internal.ui.interfaces.SDKTxNavigationFlow.getActivity"
Hi folks; we are using the PayPal Here SDK in our integration and are seeing the following exception occurring occasionally.

[code]

[2017-08-08 15:00] davidjrice opened #102 "Fatal Exception: android.view.WindowManager$BadTokenException: Unable to add window"
Hi folks; we are using the PayPal Here SDK in our integration and are seeing the following exception occurring occasionally.

From Crashlytics "This crash is usually caused by your app trying to display a dialog using a previously-finished Activity as a context. For example, this can happen if an Activity triggers an AsyncTask that tries to display a dialog when it is finished, but the user naviga

[2017-08-08 15:01] davidjrice opened #103 "NullPointerException com.paypal.merchant.sdk.internal.ui.interfaces.SDKTxNavigationFlow.startSignatureActivity"
Hi folks; we are using the PayPal Here SDK in our integration and are seeing the following exception occurring occasionally.
[code]

[2017-08-23 09:38] AbdulSalamAli0018 opened #105 "Paypal-here-Sdk is not getting initialized on any device"
I have installed the Demo app on my android device but it looks like that every time I tried to run app the sdk gets failed to initialized . I tried doing it different way but using OAuth web api. but after getting tokem and When I tried to get the Sdk initialized I got the same error. I do not know what is the real problem .

It states me the bellow problem :
**initializeSDK setCredentialsFromCom

[2017-08-23 14:35] ppmtscory commented on #105
PayPal Here uses a third party token so you will need to follow the instructions [here](https://developer.paypal.com/docs/integration/paypal-here/merchant-onboarding/initiating-the-onboarding-flow/) to get the refresh token that you can store for your account and then use to generate the access token to pass into the SDK.  You'll then switch the demo app to use the `setCredentials` method and pass

[2017-08-23 14:35] #105 closed

[2017-08-24 12:41] AbdulSalamAli0018 commented on #40
I am getting the same problem. What ever I do I get the card reader 0 in a list

[2017-08-28 06:22] hadimo commented on #94
Hello,
I have same problem, did you manage to solve it?

[2017-08-28 15:58] ppmtscory commented on #94
Did you try a new access token?  What is the actual error message thrown?  There should be some error listed in logcat.

[2017-09-21 01:25] thekingbk90 opened #107 "Paypal here - Cannot login to get access token with live account"
I have a problem when login to get access token. Anyone can help.

I used sandbox Url and live Url to get access token for paypal here.
After login, the sandbox account worked but live account didn't work.
My paypal account is business in England and I have already configed paypal here available and redirect URLs

[code]

Error log:
400{"error_description":"client id or secret is null","error":"in

[2017-09-21 13:27] ppmtscory commented on #107
You were using your Live client ID but you didn't change your environment to Live.  You're still using the sandbox environment which is why you got the invalid client error.

[2017-09-21 15:12] thekingbk90 commented on #107
I mean that when I use sandboxUrl and my sandbox account, it worked.
The issue display when I use liveUrl (paypal.com) and live account :(

[2017-09-21 15:20] ppmtscory commented on #107
The error you provided was in the sandbox environment - and NOT in the Live environment.  You'll need to double check your code to ensure that you're using the right environment for the credentials.  It seems that somewhere along the lines, you're still calling the sandbox URL.

[2017-09-21 15:24] thekingbk90 commented on #107
I will check it. Thank you.
Can you see my liveUrl above. is it correct?

On Sep 21, 2017 10:22 PM, "Cory" <notifications@github.com> wrote:

[2017-09-21 15:32] ppmtscory commented on #107
Yes, your pasted code looks correct.

[2017-10-17 18:24] tkocik92 opened #108 "Process Payment without SDK UI"
I have attempted to process payments using the other processPayment() methods, but so far there have been unexplained differences (The bluetooth reader's screen won't update the same, app hangs on authenticating the merchant, etc).

Is it possible to process payments without using the SDK's UI?

[2017-10-18 16:18] tkocik92 opened #109 "Signature Screen Orientation"
Is it possible to have the SDK signature screen in portrait instead of landscape? Our kiosk app is locked in portrait mode and this is the only SDK screen that does not follow that convention.

[2017-10-18 16:41] ppmtscory commented on #109
At this time, no, there isn't a way to set the orientation of the signature screen portion of the SDK UI.  This was set to landscape to allow for a better user experience across various device/screen sizes.  I will record this feedback for consideration with any future releases, however.

[2017-10-18 16:41] #109 closed

[2017-12-13 03:01] heng-pcsp opened #110 "PayPal Here SDK Swiper Card Reader"
Hi dear,
I used ionic framework for develop mobile app and used cordova plugin for integrate paypal here sdk with ionic.
I want swipe card information only, please help me
note: i'm not android developer

[2017-12-13 16:25] ppmtscory commented on #110
We don't provide the swipe information alone.  This is encrypted information and the processing of said information is done within the SDK.

[2017-12-13 18:21] cdewberry commented on #69
I would like to be able to cancel swiping a card after calling PayPalHereSDK.getTransactionManager().beginPayment(amount, transactionController) and
processPaymentWithSDKUI
or
could someone please show the sequence of calls for providing my own UI and calling processPayment() - like which version of processPayment should I call to read a card swipe?

[2017-12-13 20:20] cdewberry commented on #108
In my android app, I have tried calling:
PayPalHereSDK.getTransactionManager().beginPayment(amount, transactionController);
followed by:
processPayment(TransactionManager.PaymentType paymentType, TransactionController customController, DefaultResponseHandler<TransactionManager.PaymentResponse,PPError<TransactionManager.PaymentErrors>> response);
To allow cancelling the card swipe, but my  app cras

[2017-12-13 20:24] cdewberry opened #111 "Process Payment without SDK UI"
In my android app I am attempting to process payments using the non-UI processPayment() methods with the triangle magstripe only dongle.

I have tried calling:
PayPalHereSDK.getTransactionManager().beginPayment(amount, transactionController);
followed by:
processPayment(TransactionManager.PaymentType paymentType, TransactionController customController, DefaultResponseHandler<TransactionManager.Pay

[2017-12-13 23:13] ppmtscory commented on #111
My apologies but I'm not sure I understand the request.  Once you call processPayment and it's complete, then you'll need to do a refund.  Otherwise, if you've already called beginPayment but want to start the process over, there should be a cancelPayment call that you can make.

[2017-12-14 16:18] cdewberry commented on #111
Thanks for the response, Cory!

My issue is that once processPaymentWithSDKUI is called and the 'Please
swipe card' dialog is displayed, there is no way to cancel. So, if the
payee can't find their card or has some issue, there is currently no way to
cancel from that screen. Back button does not work. So, I thought I would
be able to use the processPayment call without the UI, but I must not be
us

[2017-12-14 17:38] ppmtscory commented on #111
I'm assuming you are using the EMV reader, in which case, you should be able to press the red X button on the bottom left of the reader to cancel the payment at that point.

[2017-12-14 18:10] cdewberry commented on #111
No, I'm using the MagneticCardReader. What I would really like is a
timeout. I know there is a onContactlessReaderTimeout - I'd like one for
the MagneticCardReader. Then I could go back to the ChargeActivity and
allow canceling.

Caroline Dewberry
Software Engineer
Book Systems, Inc.
(256)533-9746

On Thu, Dec 14, 2017 at 11:38 AM, Cory <notifications@github.com> wrote:

[2017-12-14 18:47] ppmtscory commented on #111
Ah, ok, I understand.  You should be able to control this on your side then without the SDK UI.  As long as you have your listeners set up, after you call beginPayment the SDK will start monitoring the card reader.  Once you get the callback for the detected swipe, then you would call processPayment to process that transaction.  I believe that listener event is `onCardReadSuccess`.

[2018-01-31 04:56] mithrasvs opened #115 "Authorize and Capture functionality"
Hi,

I am trying to build a software for restaurant and trying to implement authorizePayments & capturePayments. I couldn't find proper document about their usage.

Can you help me with that or point the the right place?

Currently, in chargeActivity.Java, after beginPayment() and initiateEMVTransaction(), instead of calling takePayment() and I am calling authorizePayment().

Error says, "No payme

[2018-02-02 17:55] amrish7 opened #118 "Seeing java.lang.IllegalStateException: J2V8 native library not loaded runtime exception in 2.0 SDK"
2.0 version of SDK is throwing a `java.lang.IllegalStateException: J2V8 native library not loaded runtime exception on my App
[code]

[2018-02-02 17:56] amrish7 commented on #118
This is a known issue https://github.com/eclipsesource/J2V8/issues/174

The proposed work around is to add the following `ndk` support to `android.defaultConfig` of your App's build.gradle
[code]

[2018-02-02 17:57] amrish7 commented on #118
PayPal Here App uses this fix currently and it is working fine. Native 64 bit support for this SDK will come with an upcoming release

[2018-02-02 17:57] mithrasvs commented on #115
@ppmtscory @amrish7

can you please help me here?

[2018-02-02 18:38] ppmtscory commented on #115
@mithrasvs you won't be able to do auth/capture with EMV transactions with the current 1.6.x SDK, unfortunately.  Therefore, you'll need to use the regular triangle magstripe swiper and, in the SDK, you'd call beginPayment() and then authorizePayment().  Our new SDK (v2) will have auth/capture available for EMV transactions shortly so if you're wanting that, then please stay tuned.

[2018-02-02 19:00] ppmtscory commented on #115
No, you can use that reader, and auth/capture functionality with 1.6.10 which is on it's own branch in this repo.  The master branch will soon be updated to match with the release-2.0 branch.

[2018-02-03 12:02] monikarora opened #121 "remember user not working"
Hey @amrish7 , i want to save user name & user password , but if i kill app data is remove

String CONFIG_ENVIRONMENT = PayPalConfiguration.ENVIRONMENT_SANDBOX;

//String CONFIG_ENVIRONMENT = PayPalConfiguration.ENVIRONMENT_NO_NETWORK/

private static PayPalConfiguration config = new PayPalConfiguration()
.environment(CONFIG_ENVIRONMENT)
.clientId(CONFIG_CLIENT_ID)
.rememberUser(true)

[2018-02-05 06:28] amrish7 commented on #121
It could be by design.

If I am not mistaken, the `PayPalConfiguration` object sits in the https://github.com/paypal/PayPal-Android-SDK repository (not this one) and `com.paypal.android.sdk.payments.PayPalConfiguration` namespace.

Do you want me to move this issue to [PayPal-Android-SDK](https://github.com/paypal/PayPal-Android-SDK) repository?

[2018-02-05 06:30] amrish7 commented on #121
@ppmtscory Could you add your thoughts on this issue?

[2018-02-05 09:29] monikarora commented on #121
Okay @amrish7
yes already added this issue in PayPal-Android-SDK repository , but still response for him

[2018-02-05 15:09] ppmtscory commented on #121
Yes, that is for a different SDK and will need to be answered by the folks that support that issue.  You should receive an answer on that issue over on that repo.

[2018-02-05 15:09] #121 closed

[2018-02-09 16:54] ppmtscory commented on #65
A new SDK and sample app are available for use which should correct this enhancement.

[2018-02-09 16:54] #65 closed

[2018-02-09 16:57] ppmtscory commented on #69
With the EMV readers, you will need to use the UI included in the SDK.  There are enhancements being made to the new SDK that's available which will include allowing the modification of said UI and/or having the option to not use the UI at all.

[2018-02-09 16:57] #69 closed

[2018-02-09 16:58] ppmtscory commented on #73
If your issue persists, after updating to the newly released SDK, please either reopen or create a new issue with additional details.

[2018-02-09 16:58] #73 closed

[2018-02-09 16:59] ppmtscory commented on #83
Our new SDK has been released so I suggest updating to use that.  Please let us know if you run into any further issues.

[2018-02-09 16:59] #83 closed

[2018-02-09 17:02] ppmtscory commented on #85
Please update to our newly released SDK and let us know if you run into any issues when using a webview.

[2018-02-09 17:02] #85 closed

[2018-02-09 17:02] ppmtscory commented on #94
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2018-02-09 17:02] #94 closed

[2018-02-09 17:06] ppmtscory commented on #95
Please update to the latest SDK as there has been improvements to this process.  Do let us know if you run into any issues.

[2018-02-09 17:06] #95 closed

[2018-02-09 17:10] ppmtscory commented on #97
Please upgrade to the latest SDK and let us know if you run into any issues.

[2018-02-09 17:10] #97 closed

[2018-02-09 17:11] ppmtscory commented on #99
Closing this due to inactivity.  If your issue persists, please update to the latest SDK and either reopen or create a new issue with additional details.

[2018-02-09 17:11] #99 closed

[2018-02-09 17:12] ppmtscory commented on #100
Please upgrade to the latest SDK and let us know if you run into any issues.

[2018-02-09 17:12] #100 closed

[2018-02-09 17:12] ppmtscory commented on #101
Please upgrade to the latest SDK and let us know if you run into any issues.

[2018-02-09 17:12] #101 closed

[2018-02-09 17:12] ppmtscory commented on #102
Please upgrade to the latest SDK and let us know if you run into any issues.

[2018-02-09 17:12] #102 closed

[2018-02-09 17:13] ppmtscory commented on #103
There have been many improvements made with our new SDK.  Please upgrade to the latest SDK and let us know if you run into any issues.

[2018-02-09 17:13] #103 closed

[2018-02-09 17:13] ppmtscory commented on #107
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2018-02-09 17:13] #107 closed

[2018-02-09 17:14] #110 closed

[2018-02-09 17:14] #111 closed

[2018-02-09 17:17] ppmtscory commented on #115
Auth/Capture code is available to review in the new sample app that's now included in this repo but the functionality is not completely tested/available on the backend yet.  Therefore, you can review the code to see how it will work, and I'll update here once the functionality is fully available on our backend.

[2018-02-09 17:45] mithrasvs commented on #115
@ppmtscory Thank you for the update... I'll stay tuned

[2018-02-23 17:26] ppmtscory commented on #115
@mithrasvs this auth/capture feature is now available for the US region.

[2018-02-23 17:26] #115 closed

[2018-04-02 04:14] muhshan opened #135 "When connecting to device using connectToLastActiveReader(...), the callback is not called in some cases."
This issue is reproducible with the paypal here sample application.

Step to reproduce the issue:
1. open the sample app and initialize the app, initialize the merchant and switch to the connection screen
2. Click "connect to last known device"
3. On the connection popup, click "Find another reader"
4. Select one of the paired device listed in the "Find another reader" popup
5. Notice on the devic

[2018-04-08 22:06] djjames commented on #135
Y is not working

[2018-05-04 05:20] legomanaustralia opened #138 "Disable Receipt Options"
Is there an ability to hide the receipt prompt for the paypal here inApp part? We have a specific use case where showing the receipt infers the application has completed and is confusing to users.

[2018-05-04 15:44] DJ92 commented on #138
Hi,
What merchant is this integration for? We are currently making a process to support hiding that feature and would need some info.

[2018-05-09 08:19] legomanaustralia commented on #138
It's for www.gettoken.com - we do a rfid cashless payment system that uses Paypal here for taking topup payments initially, these are for a self serve portal however the paypal intitial/receipt makes it extremely confusing with "transction complete" etc as this is something we handle in the next step of the flow.

[2018-05-09 21:26] vanceanderson41 commented on #138
Hello, @DJ92

We have a similar inquiry about receipts. We use PayPal Here among other payment processing services and have a custom receipt delivery system in place for all transactions recorded, so it's less than ideal to invariably show the receipt options screen after each transaction.

[2018-05-29 06:46] Technickster commented on #135
Similar thing with the scanAndAutoConnectToBluetoothReader

[2018-05-30 16:32] anton8900 opened #140 "Locale change"
Do you support other locales? Can't find it in your SDK

[2018-05-30 18:01] DJ92 commented on #140
For locales, it's only US, UK, and AU. All of the messaging in our SDK that shows up on the UI should be localized to those regions. Hope that answers your question.

[2018-05-30 19:46] #138 closed

[2018-05-30 19:47] #118 closed

[2018-07-04 00:05] #140 closed

[2018-07-04 00:06] DJ92 commented on #135
Hi @Technickster @muhshan ,

The autoConnect() callbacks have been fixed.

Please follow the code snippet as shown below:
[code]
Thanks.
I'm closing this issue for now, but let me know if there are any open items regarding this.

[2018-07-04 00:06] #135 closed

[2018-07-04 15:58] nicernick opened #143 "App with Timber"
We use Timber in our application and have encountered a situation whereby our version appears to be interfering with the normal working of the SDK.
This is easily replicated in the Sample App by adding the following dependency
`implementation 'com.jakewharton.timber:timber:4.5.1'`
when this is added the `MerchantInitializedCallback` does not fire

We're looking at revising our use to move back to

[2018-07-05 14:07] DJ92 commented on #138
Hey @nicernick ,

Glad to know about your integration. There's a way to suppress the receipts. Can you send me a mail at dhejoshi@paypal.com and I'll send the information on how to do that.

Thanks

[2018-07-05 14:10] DJ92 commented on #143
Hey @nicernick , I just added the dependency and built the app, all works fine. It probably be down to the gradle version you are using at the moment (I test this on 3.0.1). I'll need to see some logs to help you better @nicernick.

[2018-07-16 23:37] legomanaustralia opened #144 "Conflict with Google Analytics With Taplinx Library"
We seem to be getting a conflict with paypal's version of google analytics and mifare "taplinx" google analytics. We're fairly certain GA is the root cause - is it possible to get a build of the newest library without the newer version of GA so we can confirm?

I've reached out to the taplinx folks to see if they can up-version their GA include in the interim. Have tried using transitive values fo

[2018-07-16 23:43] snehanshuashar commented on #144
@legomanaustralia we are working on removing some third-party dependencies from the PayPal Here sdk, and Google Analytics is one of those dependencies.
The next release of the PPH sdk (by the end of this month) should resolve your issue.

[2018-07-16 23:58] legomanaustralia commented on #144
Oh perfect! happy to try out a beta build if you'd like? It was working perfectly but the last few changes have since broken the build for it so we've had to revert back before the tag option was available.

[2018-07-18 23:46] snehanshuashar commented on #144
@legomanaustralia I just published a beta version of the sdk with these changes.
`2.0.1.201815-beta02`

[2018-07-19 02:08] legomanaustralia commented on #144
@snehanshuashar thanks for that! Looks like we're still seeing a conflict, stemming from another library. There is an open ticket/issue so hopefully it'll be resolved, looks like the firebase changes are to blame. Will report back when they've got it resolved for anyone else that hits the same problem.

`releaseUnitTestCompileClasspath - Resolved configuration for compilation for variant: releaseU

[2018-07-23 16:39] nicernick commented on #143
Thanks, reverting to the older version of Gradle appears to have worked. We were using 4.4.

[2018-07-23 16:39] #143 closed

[2018-09-03 23:51] legomanaustralia commented on #144
is it possible to get the location service support moved up to 15.0.1?

[2018-09-07 19:01] nsinghal90 commented on #144
@legomanaustralia Is the conflict due to com.google.android.gms:play-services-analytics-impl:10.0.1 module?

[2018-10-03 04:06] legomanaustralia commented on #144
@nsinghal90 just confirming @anton8900 is on the same team :)

[2018-10-22 21:42] vanceanderson41 opened #147 "Google Play Services Location Permission"
In the sample app, this is included as a dependency. Why?
`implementation 'com.google.android.gms:play-services-location:8.1.0'`

[2018-10-23 14:23] DJ92 commented on #147
Hey @vanceanderson41 , it's for displaying the lat/long on the receipts for customers transaction.

[2018-10-23 15:01] vanceanderson41 commented on #147
Where is the dependency actually used? Are you saying this dependency is required for device location data?

[2018-10-23 17:48] vanceanderson41 commented on #147
Ok -- Is there any related documentation? Outside its inclusion in the sample app, I'm not aware of anything related, including what happens if
1) The library is not included in the project that depends in the PPH SDK
2) If the user is presented with a runtime permission dialog (should the even be shown this?) and they decline the permission

[2018-10-23 23:12] vanceanderson41 commented on #147
@DJ92 I seem to have found its related usage in the SDK source (LocationService/Impl) in the form of a combination of Android SDK location and gms/play services location. However, direction toward any pertinent documentation would still be great in order to deterministacally define the type of experience our users should expect.

[2018-10-24 16:43] DJ92 commented on #147
@vanceanderson41 I had a word with our SDK team and it seems like we pass zeroes for lat/long if that library is removed. That would ofcourse remove the prompt. The downside is that upstream processing/risk services may decline a transaction. I don't have definite statistics to back it up but I have tested with and without them and see successful transactions. Also, the documentation is an interna

[2018-10-24 17:32] vanceanderson41 commented on #147
@DJ92 Thanks for all the good info.

One further point of clarification if you don't mind. As far as I'm aware, the location permission itself is one that needs user acceptance at runtime beyond API 23. If the library is included, does the SDK perform permission checks such that the client app _only_ needs to include the dependency and does not require any additional location/permission logic?

[2018-10-24 20:19] vanceanderson41 commented on #147
Adding more info here: just tested using 2.0.1.201812 and included `implementation 'com.google.android.gms:play-services-location:8.1.0'` and no runtime permissions are gathered. Safe to assume 0s are passed here too?

If so, is it a silent requirement that any client app that integrations with this SDK must also provide all permission based logic?

[2018-10-30 12:52] tkocik92 opened #148 "Taxes in Sandbox"
I have implemented the latest version of the SDK (debug:2.1.0.201801) into my app. I have a sandbox merchant with sales tax set up. When I create my invoice, `getItemTax()` returns 0 and `getTotal()` returns the subtotal. If I manually add a tax rate to every invoice item, `getItemTax()` and `getTotal()` return the correct amounts.

When I begin the payment process and use a valid card for payment

[2018-10-31 16:06] DJ92 commented on #148
Hey @tkocik92 , the item tax is set in the addItem or explicit method and only then can be retrieved using getItemTax(). As for the tax rate set inside the account, I don't believe there's a way to retrieve that from the SDK but does apply to the transaction as a subtotal. Does that answer or clear the confusion?

[2018-10-31 18:56] tkocik92 commented on #148
@DJ92 It clears up the confusion as to where I should set the tax rate for InvoiceItem's.

It does not resolve that beginning a payment only charges for the subtotal instead of the total (subtotal + tax).

[2018-10-31 20:00] DJ92 commented on #148
Hey @tkocik92,

For the latter, if you set something to default tax on the account, it'll apply to transactions processed automatically and will be visible on the receipts.

Hope that helps.
Thanks!

[2018-11-01 00:32] stefansidler1993 commented on #49
if your phone does not recognize your card reader remember to allow all the permission to the app like location and microphone

[2018-11-01 00:38] stefansidler1993 commented on #49
if your phone does not recognize your card reader remember to allow all the permission to the app like location and microphone

[2018-11-01 11:45] tkocik92 commented on #148
@DJ92 Is that true for Sandbox accounts? I set a tax rate for the entire US (for testing purposes) on the Sandbox account I am using and it was never getting applied (this was on sandbox.paypal.com). Or does this get set in the application somewhere?

[2018-11-01 20:49] DJ92 commented on #148
We've tested this on live. For sandbox, I might have to do some more digging to confirm if it actually applies it across the board. I'll keep it open and follow up.

[2018-11-08 22:29] vanceanderson41 opened #152 "Crash when backgrounding app with ScanReaders UI visible"
[code]

`mScanOptions.removeOnCardReaderDiscoveredObserver(this.onCardReaderDiscoveredObserver);`

On the above line, a NullPointerException is thrown for `mScanOptions` when this view is visible to the user and they background the application.

Occurs on Android 5.1.1 but seemingly not on later versions.

[2018-11-26 19:59] DJ92 commented on #148
So I did some testing and these are my results:

The tax rate can be applied to items in the SDK Invoice creation logic. The overall tax rate in the sandbox account doesn't get picked up due to test environment limitations but it applies on live.

[2018-11-26 19:59] #148 closed

[2018-11-26 20:00] DJ92 commented on #144
Please re-open this if the problem still persists. I haven't heard back in a while on this.

[2018-11-26 20:00] #144 closed

[2018-12-08 13:17] wilson-stickytickets opened #154 "input encrypted emv block is empty (any card)"
need some help. every time we do a transaction we always get this response

`D/PayPalRetailSDK:flow.step.mtp: MTP response received from API retail/checkouts
    MTP response: {
        "statusCode": 400,
        "headers": {
            "content-length": "183",
            "content-type": "application/json",
            "date": "Sat, 08 Dec 2018 13:16:09 GMT",
            "http_x_pp_az_locator":

[2019-02-11 05:30] yxrwang opened #156 "NullPointerException when calling RetailSDK.initializeMerchant"
I was integrating the SDK into my app, unfortunately NullPointerException was immediately thrown when our app called RetailSDK.initializeMerchant method.

Here is the detail stack trace:
java.lang.NullPointerException: Attempt to invoke virtual method 'com.paypal.manticore.JsExecutor com.paypal.manticore.ManticoreEngine.getExecutor()' on a null object reference
com.paypal.paypalretailsdk.RetailSDK

[2019-02-11 22:49] DJ92 commented on #156
Hey @yxrwang , can I get some more information around this ? What's the merchant, clientID and environment being used here?

Thanks!
-Dheeraj

[2019-02-11 22:59] yxrwang commented on #156
Hi Dheeraj,

Thanks for the reply. I was using sandbox environment, the merchant is dale-facilitator@batchandco.com.au, the client id is AaXgURBu8Okb1escxzeX-IOgsIQmmae81k5KkoxQbugHoWXOiPvihJ2ptu1c

Cheers,
Jack

[2019-02-11 23:16] DJ92 commented on #156
Can you try now @yxrwang ? Also, is there an AM assigned to you that you're working with from our side?

[2019-02-11 23:21] yxrwang commented on #156
@DJ92 I tried just now, the same error. I don't think there is an AM assigned to me. Actually, this was working before about 2 months ago. I haven't changed anything.

[2019-02-11 23:23] DJ92 commented on #156
What is the SDK version you are using? Is this an integration in the AU?

[2019-02-11 23:25] yxrwang commented on #156
Yes, it is in Australia. The SDK versions are
api('com.paypal.retail:here-sdk-debug:2.1.0.201801@aar'){transitive=true}
api 'com.eclipsesource.j2v8:j2v8:4.6.0@aar'

[2019-02-12 01:42] yxrwang commented on #156
Hey @DJ92 , after a serious investigation, there was a bug in my code where the RetailSDK was not initialised before initializeMerchant was called.

I will close this issue, sorry for the confusion. Thanks for your support.

[2019-02-12 01:42] #156 closed

[2019-02-18 11:43] legomanaustralia opened #157 "Paypal Modal & Device Lock When Swipe Card Prompt is Shown"
In Australia, we've noticed several cases where swiping a card will lock the paypal here modal & device - i have video attached here of this. It also seems it could be related to EFTPos cards not being accepted but library not handling exception correctly.

Library is 2.1.0.2018

Video Here:
https://drive.google.com/file/d/1AcDXYtD5yoleAKgIpnhBl4EsklY0PttB/view?usp=sharing

[2019-06-27 06:09] yxrwang opened #165 "64-bit support"
Since Google requires apps to be published on Google Play to support 64-bit devices, is there any plan for Paypal Here SDK to include these 64-bits JNI libraries? Currently it crashes on 64-bit devices if 'arm64-v8a' is added to ndk.abiFilters in the app gradle build file (from Google's instruction https://developer.android.com/distribute/best-practices/develop/64-bit).

[2019-07-09 01:55] yxrwang opened #166 "Request not authorized error"
I had the Paypal here sdk integrated with my Android Pos app, after a long day sale, the app got error response from Paypal here SDK "Request not authorised". No further payment can be made afterwards until logout and login the merchant account. I have set the refresh token to the SDK but it seems doesn't work. Is anyone can help me to have a look at this. Thanks

[2019-07-29 17:03] StorminGorman commented on #165
Ok so just add
` implementation ('com.paypal.retail:here-sdk-release:2.1.03.19178000@aar') { transitive = true }`

That is the version that works with
`abiFilters 'armeabi-v7a','arm64-v8a','x86','x86_64'`

[2019-08-09 19:26] tkocik92 opened #168 "Merchant not initialized anymore"
I am using the PayPal Here SDK with the Sandbox environment and had it implemented in my application for over a year. At some point in the last month, calling `RetailSDK.initializeMerchant` no longer initializes the merchant after login. The account I used worked previously. The only relevant logcat messages I can find are the following:

[code]

The version of the SDK I am using is `2.1.0.201801`

[2019-08-13 15:55] tkocik92 commented on #168
Closing this issue as the problem is no longer occurring despite not making any changes.

[2019-08-13 15:55] #168 closed

[2019-10-12 11:46] wangbo4020 opened #170 "The sdk unavailable"
prompt the message on Sandbox:
 Failed to set AccessToken. Please try after clearing the data/cache of the application.

prompt the message on Offline:
 Failed to load offline merchant information.

every time.

[2019-10-23 19:20] seankwalker opened #171 "sample app does not build"
Hi, the sample app is failing to build with `error: cannot find symbol class OfflineTransactionRecord`

This pertains to https://github.com/paypal/paypal-here-sdk-android-distribution/blob/568400c20b00ceb710633b68d784ba2924a0c99f/SampleApp/src/main/java/com/paypal/heresdk/sampleapp/ui/ChargeActivity.java#L352

seems like this was introduced in a recent commit (https://github.com/paypal/paypal-here

[2019-10-24 19:56] seankwalker opened #172 "cancellation of "find another reader" interface doesn't send cancellation error"
Hello,

I noticed that when using `DeviceManager.connectToLastActiveReader()`, the `ConnectionCallback` is never called after cancelling out of the "Find another reader" UI screen.

This contrasts with cancelling out of the initial UI, which does call the callback with error as a cancellation.

[2019-11-05 20:00] seankwalker commented on #109
Hi, any updates on this? This still seems to be an issue.

[2019-11-05 21:00] ppmtscory commented on #109
There is `setReceiptScreenOrientation` that can be set as such: `RetailSDK.setReceiptScreenOrientation(ReceiptScreenOrientation.LANDSCAPE);`

[2019-11-05 21:01] ppmtscory commented on #109
You aren't able to set the signature UI orientation, no, but you can set the receipt screen orientation if you'd like.  The signature screen is set with the orientation of the device.

[2019-11-05 21:28] seankwalker commented on #109
gotcha. the signature screen is not reflecting the device orientation for us right now; is there any special configuration needed for it to do so?

[2019-11-05 21:30] ppmtscory commented on #109
Are you using the latest version of the SDK?  What device are you using and what's the behavior you are seeing?

[2019-11-05 21:34] seankwalker commented on #109
yep, version 2.1.03.19276000. It's on an ELO I-series 22"
when the device is rotated, our app which is using the Here SDK re-orients properly, but the signature screen after a payment goes through will render as portrait mode regardless of the device's orientation

[2019-11-12 21:17] digitalidentit4d opened #173 "mdmolla"
Despised local authorities bank account details swif coad, DBBLBDDH, 101011030370502 small business owners cardet support money. [Self me](http://www.facebook.com/digidentity4d )

[2019-12-13 09:28] #170 closed

[2019-12-18 18:25] #173 closed

[2020-04-04 22:35] DowsingUK commented on #109
Can't the SDK just have an option to re-orientated the signature screen?

[2020-04-14 18:40] DowsingUK opened #177 "Custom Receipt Screen"
I've been trying to customize the receipt screen but I have no clue where to assign values, wherever I put some of the below sentences device freezes at beginPayment, would someone help me here please?

new ReceiptOptionsViewContent().title("You Paid $1.23");
new ReceiptOptionsViewContent().message("Payment");
new ReceiptOptionsViewContent().setPrompt("Would you like a receipt for this purchase");

[2020-04-15 00:38] ppmtscory commented on #177
You're not allowed to modify the text/verbiage on the receipt options page.  You can add an option if you need but can't modify the current listings.

[2020-04-15 14:57] DowsingUK commented on #177
Do you have an example of how to add options? so far I can list the option but I haven't found a way to end the transaction...

`
    List<String> moreOptions = new ArrayList<>();
    moreOptions.add("Print");

    currentTransaction.setAdditionalReceiptOptions(moreOptions, new TransactionContext.ReceiptOptionHandlerCallback()
    {
      @Override
      public void receiptOptionHandler(Integer in

[2020-04-15 15:19] ppmtscory commented on #177
I'm confuses as to what you're actually trying to accomplish.  This functionality is meant to be able to add in additional options such as Print.  If that was added, then within that method you would have APIs or methods that talk to your printer to print a receipt and then move to a different activity.  If you simply want to close the receipt options page, you'd use the No Thanks option.  Can you

[2020-04-15 17:24] DowsingUK commented on #177
Well I'm trying to accomplish 3 very common and simple tasks but as far as I know 2 of them are impossible to do with your SDK 1. Signature Screen in Portrait mode, 2. Localization, so the only one it seems achievable is 3. Print and then close the receipt options page in the print finish callback I do not need to move to a different activity I just expected currentTransaction.setCompletedHandler

[2020-04-16 15:03] apkelly commented on #171
I noticed this too, however, it only took me about 5 mins to go through the app and fix up the 10 places or so where the method being overriden didn't match the correct signature defined in the Interface.

[2020-04-16 15:08] apkelly opened #178 "Sandbox Sample App gives "no txnAuthCode is returned" error."
When trying to run the Sample App on my Pixel 3, and having it paired with a PayPal Here 310 chip and magstripe reader. No matter what amount I enter for the transaction I get the following error after entering the PIN.

"no txnAuthCode is returned&PPAPI RC: 10764&Pimp RC: 4007&AuthCode: &TxnHandle: 5HT326033A082101X&ResponseCode: PPER"

I've selected the sandbox environment when setting up the sa

[2020-04-17 21:17] DowsingUK commented on #177
So should I add the 3rd point to the list of impossible task to do with this RetailSDK?

[2020-04-17 21:26] ppmtscory commented on #177
I apologize as I've not had a chance to run any tests to see if the receipt options are functioning the way that they should.  When you make the print call, in your example, does the receipt options page not close and return control to your app? You don't need to check the string since you're only adding the single button - unless there's an issue, that handler would be called as soon as that opti

[2020-04-17 23:11] DowsingUK commented on #177
It's not returning although it runs the print function but just get stuck at that option page

[2020-04-17 23:50] ppmtscory commented on #177
I will need to run some tests and get back to you.

[2020-04-17 23:57] DowsingUK commented on #177
Ok thank you so much!

[2020-04-28 13:36] DowsingUK opened #179 "Disconnect at midnight?"
I'm wondering why I get a disconnection every night at midnight timezone 0, I have try different devices with different time zones but I always get a disconnection at the same time I haven't tried the Release SDK is this normal in the Debug SDK? should I spect the same behaviour in the Release SDK?

[2020-04-28 13:37] DowsingUK commented on #177
Any chance you have found something that help me implementing the Print option?

[2020-04-29 00:09] ppmtscory commented on #177
I apologize but I've not had time to run any tests yet.  I will hopefully get some time tomorrow.

[2020-04-29 17:34] ppmtscory commented on #179
What disconnection are you referring?  Are you referring to the SDK needing reauthorization or the card reader is disconnecting from Bluetooth at the same time every day?

[2020-04-29 19:28] DowsingUK commented on #179
The card reader is disconnecting from Bluetooth at the same time every day although I'm using RetailSDK.getDeviceManager().isConnectedToMiura() to check and reconnect

[2020-04-29 19:46] DowsingUK commented on #179
But so far is not working after the disconnection isConnectedToMiura always return true

[2020-04-29 20:01] ppmtscory commented on #179
I really don't know why it would automatically disconnect every night at the same time unless there's something happening at that time which causes it to disconnect.  If the reader is plugged into power, and connected within your app, then it shouldn't sleep at all even.  However, if the app goes to sleep or something happens with the bluetooth on the iPad itself, then it could disconnect.  For th

[2020-04-29 20:11] DowsingUK commented on #179
![IMG_2585](https://user-images.githubusercontent.com/60580139/80641882-8b1b2a80-8a33-11ea-81dd-e4fd2ecc4b65.JPG)
Last night I took a picture from what's happening so after that checking it just get disconnected so I think I found a solution every time I want to create a new transaction I check if device is connected using...

PaymentDevice activeDevice = RetailSDK.getDeviceManager().getActiveRead

[2020-04-29 22:09] ppmtscory commented on #179
Yes, that works, else you can use the disconnected listener and connect right away after disconnect as well.

[2020-04-29 23:29] DowsingUK commented on #179
Thank you good to know

[2020-04-30 21:45] ppmtscory commented on #177
Alright, I had to update Android Studio and that opened up a whole other set of issues but I finally got my environment up and running to run some test.  The conclusion of the test is that the added receipt option simply gives you the opportunity to run some API (to a printer, etc) and then it's up to you to move along once your process is complete.  If you'd like the code that I used for the Samp

[2020-04-30 23:01] DowsingUK commented on #177
2. Would be so much better how can I achieve that?

[2020-05-04 16:33] ppmtscory commented on #177
Can you please email pph-sdk@paypal.com with your business name, app name, and a simple business justification for wanting to suppress the receipt screen?  I will respond there with the terms for you to accept.

[2020-05-12 17:38] DowsingUK opened #180 "Is this an error in PayPal server or mine?"
After few weeks trying everything was working good but now I keep getting this error I have restart everything in my server so can somebody help me please, thank you

D/PayPalRetailSDK:paypalRest( 8306): POST https://api-m.sandbox.paypal.com/v1/retail/checkouts (9829ms): 500
E/PayPalRetailSDK:paypalRest( 8306): Received error {
E/PayPalRetailSDK:paypalRest( 8306):   "errMessage": "domain: retail,

[2020-05-12 18:44] ppmtscory commented on #180
This was an issue in the sandbox environment earlier but I'm able to run successful transactions now so please give it another shot.

[2020-05-12 18:44] #180 closed

[2020-05-12 19:32] DowsingUK commented on #180
I just try a second ago still having same problem

[2020-05-12 20:10] DowsingUK commented on #180
It's working now!

[2020-05-27 02:20] robert-rudolph opened #181 "Disable chime when card presented?"
Hello,
I'm building an app using the 'Chip and Tap' reader, for contactless use (Apple Pay etc).

I'm playing a custom tone from `CardPresentedCallback()`.
It seems the SDK has a built-in chime that is also played at the same time, coinciding with the Card Presented event.
Right now, my custom tone and the built-in chime play simultaneously when a card is presented to the reader.

I'd like to turn

[2020-05-28 15:07] ppmtscory commented on #181
Unfortunately there isn't a way to disable these at this time.  I will bring it up to the team as a feature request so perhaps that can be done with a future release.

[2020-05-28 15:32] robert-rudolph commented on #181
Alright, thanks Cory -

[2020-06-04 21:12] DowsingUK opened #184 "Debug mode works but release does not!"
I've been using Debug mode for a while for testing now that everything runs pretty well I'm trying to go live and I follow all the instructions: changed apis to live not sandbox, activate my Paypal business account, create a rest live app and send the email to scopes activation change client id and secret in the server, set my account to received payments and everything seems to be correct but kno

[2020-06-08 15:46] ppmtscory commented on #184
That doesn't seem to be an error generated from the PPH SDK at all.  Can you check logcat for any SDK errors or what's the error object that's returned to your completionHandler?

[2020-06-09 14:29] DowsingUK commented on #184
Not a single error beside that one, it keeps failing

[2020-06-16 22:15] DowsingUK commented on #184
I think is something wrong with my Paypal account some configuration I've been trying everything, if it's working well in debug mode shouldn't it work well in production mode aswell?

[2020-06-24 12:56] BeantSingh96 opened #185 "cannot resolve method getLastActiveBluetoothReader()"

[2020-06-24 13:01] BeantSingh96 opened #186 "error: cannot find symbol method scanAndAutoConnectToBluetoothReader(String,<anonymous ConnectionCallback>)"

[2020-06-24 13:02] BeantSingh96 commented on #185
error: cannot find symbol method getLastActiveBluetoothReader()

[2020-07-21 21:41] wvega opened #187 "java.lang.NullPointerException: replacement == null at ThirdPartyInvoice.createThirdPartyReturnUrl()"
Hey there,

I'm not sure if this is the right channel to ask, so please point me in the right direction if there is a better place to send the information below 🙏

I'm one of the developers of the [WooCommerce PayPal Here](https://woocommerce.com/products/paypal-here/) extension. One of our customers contacted us to report that every time they processed a payment using the PayPal Here app, it cras

[2020-10-15 13:19] andresusanto opened #189 "Using the SDK with React Native"
Hello!

Can the SDK be used for React Native app? Do you have a guide / example on how to use the SDK to React Native app?

I tried to add the SDK to a RN app's gradle file, but it didn't work:
[code]

Thanks!
Andre

[2020-10-20 13:07] #189 closed

[2020-12-30 11:29] HarjinderBains opened #191 "com.paypal.paypalretailsdk.RetailSDKException: Failed to load required merchant status information"
When Initialize Merchant it shows.  com.paypal.paypalretailsdk.RetailSDKException: Failed to load required merchant status information

[2021-02-06 04:45] joyheaven72 opened #192 "Sandbox.paypal.com"

[2021-07-01 23:13] DowsingUK opened #194 "Proguard causes NoSuchMethodException"
buildTypes {
        release {
            minifyEnabled true
            proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard.cfg'
        }
    }

Any way to setup proguard at least to bypass it?

I have tried:
 -keep class com.paypal.** { *; }
with no luck at all, everything compiles right but every time I want to call a method from PPH_SDK it crashes with NoSuchMethodExcepti

[2021-08-05 23:44] EarthyOrange commented on #194
Hello @DowsingUK! Thank you for submitting this bug report.

Is the ask to add pro guard to the SDK artefact?

[2021-08-07 04:16] DowsingUK commented on #194
Would be great if you share some rules to compile using minifyEnabled true

[2021-08-09 21:18] EarthyOrange commented on #194
@DowsingUK Can you also please share the whole stack trace of the crash here?

[2021-08-22 18:47] inabdev30 opened #195 "java.lang.IllegalArgumentException"
Unable to build the sample app, facing this issue:

Execution failed for task ':compileDebugJavaWithJavac'.
java.lang.IllegalArgumentException: '_' may not be a valid Java identifier.

[2021-08-29 11:07] inabdev30 commented on #195
I just check the sample app again and still facing same issue, I attach the file containing complete stack trace please have a look.
[complete build logs.txt](https://github.com/paypal/paypal-here-sdk-android-distribution/files/7072322/complete.build.logs.txt)

[2021-08-31 20:10] EarthyOrange commented on #195
@inabdev30 Can you please try building the sample app after removing the following from the build.gradle file?

    // Android Annotation

    annotationProcessor 'org.androidannotations:androidannotations:4.4.0'

    implementation 'org.androidannotations:androidannotations-api:4.4.0'

[2021-09-04 15:05] inabdev30 commented on #195
@EarthyOrange Yes, it is working fine now. Thank you.

[2021-09-04 15:05] #195 closed

[2021-09-11 21:48] EarthyOrange commented on #194
Apologies, I lost track of this issue. We have created a ticket internally to track this issue. This thread will be updated once it is picked up for work.

[2021-09-14 11:25] chifeng opened #196 "Hide a prompt popup from PayPal SDK"
Hi Developers,

We're working on our App integrations with PayPal here SDK, and there is a prompt popup when we created a transaction.

As you can see the screenshots below.

![image](https://user-images.githubusercontent.com/360489/133248759-77bfe72e-aca5-46d1-a4ac-8532354b830c.png)
![image](https://user-images.githubusercontent.com/360489/133248772-6d0c846f-b2d9-44fd-9702-39c93b69a307.png)

I've

[2021-09-17 00:17] EarthyOrange commented on #196
Hi @chifeng! Thank you for raising this issue!

Can you please give more details on:
 - why you want the prompts to be removed?
 - how is your app going to communicate to the buyer/merchant about these events?

[2021-09-17 06:24] chifeng commented on #196
I hope we can define this prompt by ourself.
Actually, we've created the prompt screen on our app. This prompt looks strange and does not match our App style.

[2021-12-03 09:10] Memet18 opened #198 "Error with RetailSDK.initialize"
immediately when installing the application, and calling the function RetailSDK.initialize

java.lang.RuntimeException: undefined:30764: Attempt to invoke virtual method 'okhttp3.Call okhttp3.OkHttpClient.newCall(okhttp3.Request)' on a null object reference
          _manticore["default"].http({

[2021-12-03 18:21] EarthyOrange commented on #198
@Memet18 Can you please paste the whole error please? It looks like the text is truncated.

[2021-12-03 18:24] Memet18 commented on #198
@EarthyOrange
 E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.paypal.heresdk.sampleapp, PID: 15630
    java.lang.RuntimeException: undefined:30764: Attempt to invoke virtual method 'okhttp3.Call okhttp3.OkHttpClient.newCall(okhttp3.Request)' on a null object reference
          _manticore["default"].http({
                                ^
    com.eclipsesource.v8.V8ScriptExecutionExcept

[2021-12-06 10:48] Memet18 commented on #198
There is no error if the targetSdkVersion of assembly is 28, if I increase the targetSdkVersion of assembly 29-31 then there is an error

[2022-01-05 00:04] Memet18 opened #201 "Bluetooth connection"
The connection to the device (RP457 A) does not work in the latest versions, including v2.4.0021363000

[2022-01-13 02:43] EarthyOrange commented on #201
@Memet18 Thanks for raising this issue. Can you please include:
 - The Android version of your phone
 - The Manufacturer of your phone
 - The debug logs in a file showing the connection process failure

[2022-01-13 17:57] Memet18 commented on #201
I checked it on many devices:
1)  Samsung T500 Android 11
2) Mi A2 Lite Android 10

If I build the same code but change the SDK version to the old one (PUBLISH_VERSION=2.0.1.201812), then everything works. The reader can be found and you can connect to it

Debug code on version( PUBLISH_VERSION = 2.4.00.2132800) :

2022-01-13 18:46:48.945 14255-14954/com.paypal.paypal_sdk_for_reader_example D/PayP

[2022-01-14 08:25] EarthyOrange commented on #201
@Memet18 I don't see the Ingenico reader being discovered in the logs at all.
 - Does the app have the location permissions? The recent versions of the SDK needs to have the location permission to be able to connect to the Ingenico BLE readers.

[2022-01-14 10:36] Memet18 commented on #201
@EarthyOrange Yes i added the location permission. Although your documentation doesn't say it.
But I will repeat again, on the 2.0.1.201812 version, if nothing is changed, except for the version, the device search works

[2022-01-14 19:06] EarthyOrange commented on #201
@Memet18 Can you please reach out to your POC at PayPal to file this issue with the PPH-SDK team? It will help us prioritize and look in to this issue at the earliest.

[2022-01-14 19:08] EarthyOrange commented on #198
@Memet18 Thanks for this info and bringing it to our attention. Can you please file this issue with your POC at PayPal so that it comes to the PPH-SDK team?

[2022-01-17 16:21] danfuso-eb opened #202 "Instrumentation facade dependency is hosted in JCenter"
Hey folks, I just wanted to bring up to you that the last version of the SDK has a dependency of your own (com.paypal.instrumentation.facade:instrumentation-facade:0.0.3) that is still hosted in JCenter. Are you planning internally on moving that one away from JCenter and updating the SDK?
Given some recent outages in JCenter and also [JFrog's decision to keep it alive but in read-only mode](https

[2022-09-07 18:15] Lef784321 opened #205 "Lef784321"

[2022-09-23 17:34] #205 closed